USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_UNPRINT_PAYED]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UNPRINT_PAYED]
@PAYWAY VARCHAR(20)
AS
BEGIN
DECLARE @CS_NO VARCHAR(20);
DECLARE @QUERY_STR VARCHAR(4000);
DECLARE ITEM_CUR CURSOR FOR SELECT COSTI_NO FROM FH_COSTITEM;
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_UNPAYED')
 DROP TABLE #temp_UNPAYED;
IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_ID')
 DROP TABLE #temp_ID;
IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_IDONE')
 DROP TABLE #temp_IDONE;

IF @PAYWAY IS NULL 
BEGIN
SELECT t.debtlist_id into #temp_id  FROM
	(
		SELECT DEBTLIST_ID,USERB_KH,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTLIST WHERE PAY_TAG <> '0'
		UNION ALL
		SELECT DEBTLIST_ID,USERB_KH,DEBTL_YEAR, DEBTL_MON FROM FH_DEBTOWNHIS WHERE PAY_TAG <> '0' AND YEAR (PAY_DATE) = YEAR (GETDATE()) AND MONTH (PAY_DATE) = MONTH (GETDATE())
	) t
WHERE NOT EXISTS (	
    SELECT USERB_KH,BILLP_YEAR,BILLP_MONTH FROM FH_BILLPRINT WHERE BILLP_DATE >= DATEADD(mm,DATEDIFF(mm, 0, getdate()),0) AND T.USERB_KH = USERB_KH AND BILLP_YEAR = T.DEBTL_YEAR AND BILLP_MONTH = T.DEBTL_MON)
END
ELSE 
BEGIN
SELECT t.debtlist_id into #temp_idONE  FROM
	(
		SELECT DEBTLIST_ID,USERB_KH,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTLIST WHERE PAY_TAG <> '0' AND PAY_WAY = @PAYWAY
		UNION ALL
		SELECT DEBTLIST_ID,USERB_KH,DEBTL_YEAR, DEBTL_MON FROM FH_DEBTOWNHIS WHERE PAY_TAG <> '0' AND PAY_WAY = @PAYWAY AND YEAR (PAY_DATE) = YEAR (GETDATE()) AND MONTH (PAY_DATE) = MONTH (GETDATE())
	) t
WHERE NOT EXISTS (	
    SELECT USERB_KH,BILLP_YEAR,BILLP_MONTH FROM FH_BILLPRINT WHERE BILLP_DATE >= DATEADD(mm,DATEDIFF(mm, 0, getdate()),0) AND T.USERB_KH = USERB_KH AND BILLP_YEAR = T.DEBTL_YEAR AND BILLP_MONTH = T.DEBTL_MON)
END



CREATE TABLE #TEMP_UNPAYED(TIMECOL VARCHAR(36));
INSERT INTO #TEMP_UNPAYED VALUES (CONVERT(varchar(7), getdate(), 120 ));
OPEN ITEM_CUR;
FETCH NEXT FROM ITEM_CUR INTO @CS_NO;
While(@@Fetch_Status = 0)
    Begin
   DECLARE @PAYTOTAL VARCHAR(36);
---------------构造表-------------------------
     set @QUERY_STR = 'alter table #temp_unpayed add I'+@CS_NO+' VARCHAR(36)';
     EXEC (@QUERY_STR);
---------------更新数据------------------------
      IF @PAYWAY IS NULL 
      BEGIN
        SELECT   @PAYTOTAL = SUM(PAYL_TOTAL) FROM FH_PAYLIST WHERE DEBTL_ID IN(SELECT DEBTLIST_ID FROM #TEMP_ID) AND PAYL_NO = @CS_NO;
      END
         ELSE
      BEGIN
          SELECT   @PAYTOTAL = SUM(PAYL_TOTAL) FROM FH_PAYLIST WHERE DEBTL_ID IN(SELECT DEBTLIST_ID FROM #TEMP_IDONE ) AND PAYL_NO = @CS_NO;
     
       END
  --  SELECT @PAYTOTAL; 
     SET @QUERY_STR = 'UPDATE #temp_unpayed set I'+@CS_NO+' = '+@PAYTOTAL;
         
    EXEC (@QUERY_STR);
     --  SELECT @QUERY_STR;
     FETCH NEXT FROM ITEM_CUR INTO @CS_NO
     end;


 Close ITEM_CUR
 Deallocate ITEM_CUR

---------------------------后期数据处理-------------------------
alter table #temp_unpayed add waterqan int;
alter table #temp_unpayed add znj money;
alter table #temp_unpayed add szje money;
alter table #temp_unpayed add zje money;
alter table #temp_unpayed add rowsm int;



   IF @PAYWAY IS NULL 
      BEGIN
        UPDATE #TEMP_UNPAYED SET WATERQAN = T2.WS + T3.WS,ZNJ = T2.ZN + T3.ZN,SZJE = t2.SZ + T3.SZ,ZJE = T2.ZJ + T3.ZJ
 FROM #TEMP_UNPAYED T1,(SELECT  
CASE WHEN SUM(WATERP_QAN) IS NULL THEN 0 ELSE SUM(WATERP_QAN) END WS ,
CASE WHEN SUM(DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ZNJ) END  ZN,
CASE WHEN SUM(DEBTL_ATOTAL-DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL-DEBTL_ZNJ) END SZ,
CASE WHEN SUM(DEBTL_ATOTAL) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL) END  ZJ
 FROM FH_DEBTLIST WHERE DEBTLIST_ID IN (SELECT DEBTLIST_ID FROM #TEMP_ID))T2,(SELECT 
CASE WHEN SUM(WATERP_QAN) IS NULL THEN 0 ELSE SUM(WATERP_QAN) END WS ,
CASE WHEN SUM(DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ZNJ) END  ZN,
CASE WHEN SUM(DEBTL_ATOTAL-DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL-DEBTL_ZNJ) END SZ,
CASE WHEN SUM(DEBTL_ATOTAL) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL) END  ZJ
FROM FH_DEBTOWNHIS WHERE DEBTLIST_ID IN (SELECT DEBTLIST_ID FROM #TEMP_ID)) T3;
update #temp_unpayed set rowsm = (select count(*) from #temp_id);
 END
         ELSE
      BEGIN
          UPDATE #TEMP_UNPAYED SET WATERQAN = T2.WS + T3.WS,ZNJ = T2.ZN + T3.ZN,SZJE = t2.SZ + T3.SZ,ZJE = T2.ZJ + T3.ZJ
 FROM #TEMP_UNPAYED T1,(SELECT  
CASE WHEN SUM(WATERP_QAN) IS NULL THEN 0 ELSE SUM(WATERP_QAN) END WS ,
CASE WHEN SUM(DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ZNJ) END  ZN,
CASE WHEN SUM(DEBTL_ATOTAL-DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL-DEBTL_ZNJ) END SZ,
CASE WHEN SUM(DEBTL_ATOTAL) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL) END  ZJ
 FROM FH_DEBTLIST WHERE DEBTLIST_ID IN (SELECT DEBTLIST_ID FROM #TEMP_IDONE))T2,(SELECT 
CASE WHEN SUM(WATERP_QAN) IS NULL THEN 0 ELSE SUM(WATERP_QAN) END WS ,
CASE WHEN SUM(DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ZNJ) END  ZN,
CASE WHEN SUM(DEBTL_ATOTAL-DEBTL_ZNJ) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL-DEBTL_ZNJ) END SZ,
CASE WHEN SUM(DEBTL_ATOTAL) IS NULL THEN 0 ELSE SUM(DEBTL_ATOTAL) END  ZJ
FROM FH_DEBTOWNHIS WHERE DEBTLIST_ID IN (SELECT DEBTLIST_ID FROM #TEMP_IDONE)) T3;
update #temp_unpayed set rowsm = (select count(*) from #temp_idone);
       END

-----------------

 select * from #temp_unpayed;
END
GO
