USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIDWARE_HIS]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_MIDWARE_HIS]
@UB_KH VARCHAR(36)
AS
BEGIN
--DECLARE @HL FLOAT


  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
--SELECT  @HL = PEN_RATE FROM FH_PENALTY WHERE PEN_TYPE = 'wyjff01';

-- DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,USERB_ADDR,IT_COUNT,L101,L102,L103,L104,L105,L106,L107,L108,L109,L110,L111,L112,L113,L114,L115,L116,L117,L118
IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_line')
 DROP TABLE #temp_line;
CREATE TABLE #TEMP_LINE(DEBTLIST_ID VARCHAR(36),DEBTL_YEAR INT,DEBTL_MON INT,USERB_KH VARCHAR(36),USERB_HM VARCHAR(100),USERB_ADDR VARCHAR(200),IT_COUNT INT,L101 VARCHAR(30),L102 INT,L103 INT,L104 INT,L105 INT,L106 INT,L107 INT,L108 MONEY,L109 MONEY,L110 MONEY,L111 MONEY,L112 MONEY,L113 MONEY,L114 MONEY,L115 MONEY,L116 MONEY,L117 MONEY,L118 MONEY);

INSERT INTO #TEMP_LINE(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL),0,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' ORDER BY  CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST((DEBTL_MON) AS VARCHAR)+'-1';

INSERT INTO #TEMP_LINE(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,0,0,DEBTL_ATOTAL FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0'

UPDATE #TEMP_LINE SET USERB_ADDR = B.USERB_ADDR,L108 = B.USERB_CUP FROM #TEMP_LINE A,(SELECT USERB_ADDR,USERB_CUP FROM FH_USERBASE WHERE USERB_KH = @UB_KH)B;
UPDATE #TEMP_LINE SET IT_COUNT = (SELECT COUNT(*) FROM FH_TICKET);

UPDATE #TEMP_LINE SET L109 = B.PAYL_TOTAL FROM #TEMP_LINE A,FH_PAYLIST B WHERE B.PAYL_NO = '01' AND A.DEBTLIST_ID = B.DEBTL_ID;
UPDATE #TEMP_LINE SET L113 = B.PAYL_TOTAL FROM #TEMP_LINE A,FH_PAYLIST B WHERE B.PAYL_NO = '02' AND A.DEBTLIST_ID = B.DEBTL_ID;
UPDATE #TEMP_LINE SET L114 = B.PAYL_TOTAL FROM #TEMP_LINE A,FH_PAYLIST B WHERE B.PAYL_NO = '03' AND A.DEBTLIST_ID = B.DEBTL_ID;


UPDATE #TEMP_LINE SET L110 = B.STEP1_FEE,l111 = B.STEP2_FEE,L112 = B.STEP3_FEE FROM #TEMP_LINE A,FH_JTSS B WHERE A.USERB_KH = B.USERB_KH AND A.DEBTL_YEAR = B.DEBTL_YEAR AND A.DEBTL_MON = B.DEBTL_MON;

UPDATE #TEMP_LINE SET L117 = (SELECT CX_YE FROM FH_CX WHERE USERB_KH = @UB_KH);

UPDATE #TEMP_LINE SET L101 = LEFT(L101,4)+'0'+RIGHT(L101,1) WHERE LEN(L101) = 5;

SELECT USERB_HM,DEBTL_YEAR,DEBTL_MON,USERB_ADDR,IT_COUNT,L101,L102,L103,L104,L105,L106,L107,ROUND(CAST(L108 AS FLOAT),2) L108,ROUND(CAST(L109 AS FLOAT),2) L109,ROUND(CAST(L110 AS FLOAT),2) L110,ROUND(CAST(L111 AS FLOAT),2) L111,ROUND(CAST(L112 AS FLOAT),2) L112,ROUND(CAST(L113 AS FLOAT),2) L113,ROUND(CAST(L114 AS FLOAT),2) L114,ROUND(CAST(L115 AS FLOAT),2) L115,ROUND(CAST(L116 AS FLOAT),2) L116,ROUND(CAST(L117 AS FLOAT),2) L117,ROUND(CAST(L118 AS FLOAT),2) L118 FROM #TEMP_LINE;
END
GO
