USE [jjwater]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_METER_YEAR]    Script Date: 10/18/2016 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_METER_YEAR]
( 
@UB_KH VARCHAR(36)
)
RETURNS INT-- nvarchar
AS
BEGIN
  -- 传卡号，返回水表是第几年使用
  -- SELECT 'Navicat for SQL Server'
DECLARE @DAYS INT;

SELECT @DAYS = DATEDIFF(DAY,CASE WHEN USERB_HBRQ IS NULL THEN USERB_AZRQ ELSE USERB_HBRQ END,GETDATE()) FROM FH_USERBASE WHERE USERB_KH = @UB_KH;
  set @DAYS = @DAYS/365 + 1;
RETURN @DAYS;
END
GO
