USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_BANK_PAYEDUNP]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BANK_PAYEDUNP]
@YHDM VARCHAR(20)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @QUERY_FINAL VARCHAR(4000)
DECLARE @CS_NO VARCHAR(20);
DECLARE ITEM_CUR CURSOR FOR SELECT COSTI_NO FROM FH_COSTITEM;


IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_bkuprint')
 DROP TABLE #temp_bkuprint;


CREATE TABLE #temp_bkuprint(DEBTLIST_ID VARCHAR(36),DEBTL_YEAR INT,DEBTL_MON INT,USERB_KH VARCHAR(36),DEBTL_ATOTAL MONEY,WATERP_QAN INT ,DEBTL_ZNJ MONEY,DEBTL_STOTAL MONEY,USERB_YHDM VARCHAR(20));

IF @YHDM IS NULL 
BEGIN 
    INSERT INTO #TEMP_BKUPRINT SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,DEBTL_ATOTAL,WATERP_QAN,DEBTL_ZNJ,DEBTL_ATOTAL - DEBTL_ZNJ,USERB_YHDM FROM FH_DEBTLIST WHERE PAY_TAG = '2' AND PAY_WAY = '2';
    INSERT INTO #TEMP_BKUPRINT SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,DEBTL_ATOTAL,WATERP_QAN,DEBTL_ZNJ,DEBTL_ATOTAL - DEBTL_ZNJ,USERB_YHDM FROM FH_DEBTOWNHIS WHERE PAY_TAG = '2' AND PAY_WAY = '2' AND PAY_DATE >= DATEADD(mm,DATEDIFF(mm, 0, getdate()),0);
    DELETE FROM #TEMP_BKUPRINT WHERE USERB_KH+CAST(DEBTL_YEAR AS VARCHAR)+CAST(DEBTL_MON AS VARCHAR) IN (SELECT USERB_KH+CAST(DEBTL_YEAR  AS VARCHAR)+CAST(DEBTL_MON AS VARCHAR) FROM FH_BILLPRINT WHERE BILLP_DATE >=DATEADD(mm,DATEDIFF(mm, 0, getdate()),0))

END
ELSE
BEGIN
    INSERT INTO #TEMP_BKUPRINT SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,DEBTL_ATOTAL,WATERP_QAN,DEBTL_ZNJ,DEBTL_ATOTAL - DEBTL_ZNJ,USERB_YHDM FROM FH_DEBTLIST WHERE PAY_TAG = '2' AND PAY_WAY = '2' AND USERB_YHDM = @YHDM;
    INSERT INTO #TEMP_BKUPRINT SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,DEBTL_ATOTAL,WATERP_QAN,DEBTL_ZNJ,DEBTL_ATOTAL - DEBTL_ZNJ,USERB_YHDM FROM FH_DEBTOWNHIS WHERE PAY_TAG = '2' AND PAY_WAY = '2' AND  USERB_YHDM = @YHDM  AND PAY_DATE >= DATEADD(mm,DATEDIFF(mm, 0, getdate()),0);
    
    DELETE FROM #TEMP_BKUPRINT WHERE USERB_KH+CAST(DEBTL_YEAR AS VARCHAR)+CAST(DEBTL_MON AS VARCHAR) IN (SELECT USERB_KH+CAST(DEBTL_YEAR  AS VARCHAR)+CAST(DEBTL_MON AS VARCHAR) FROM FH_BILLPRINT WHERE BILLP_DATE >=DATEADD(mm,DATEDIFF(mm, 0, getdate()),0))

END


 OPEN ITEM_CUR;
FETCH NEXT FROM ITEM_CUR INTO @CS_NO;
While(@@Fetch_Status = 0)
    Begin
   --DECLARE @PAYTOTAL VARCHAR(36);
---------------构造表-------------------------
     set @QUERY_STR = 'alter table #TEMP_BKUPRINT add I'+@CS_NO+' MONEY';
     EXEC (@QUERY_STR);
---------------更新数据------------------------
   
  --  SELECT @PAYTOTAL; 
     SET @QUERY_STR = 'UPDATE #TEMP_BKUPRINT set I'+@CS_NO+' = T2.PAYL_TOTAL FROM #TEMP_BKUPRINT T1, FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '''+@CS_NO+'''';
         --SELECT @QUERY_STR
        EXEC (@QUERY_STR);
     --  SELECT @QUERY_STR;
     FETCH NEXT FROM ITEM_CUR INTO @CS_NO
     end;

 Close ITEM_CUR
 Deallocate ITEM_CUR


SELECT USERB_YHDM,SUM(DEBTL_ATOTAL)zje,SUM(WATERP_QAN)waterqan,SUM(DEBTL_ZNJ)znj,sum(DEBTL_STOTAL)szje,SUM(I01)I01,SUM(I02)I02,SUM(I03)I03,SUM(I04)I04,SUM(I05)I05,SUM(I06)I06,COUNT(*) rowsm FROM #TEMP_BKUPRINT group by USERB_YHDM
union ALL
SELECT '合计',SUM(DEBTL_ATOTAL)zje,SUM(WATERP_QAN)waterqan,SUM(DEBTL_ZNJ)znj,sum(DEBTL_STOTAL)szje,SUM(I01)I0I,SUM(I02)I02,SUM(I03)I03,SUM(I04)I04,SUM(I05)I05,SUM(I06)I06,COUNT(*) rowsm FROM #TEMP_BKUPRINT;

--select * from #TEMP_BKUPRINT;
END
GO
