USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEBT_DETAIL]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEBT_DETAIL]
@UB_KH VARCHAR(36),
@START_DATE VARCHAR(36),
@IS_ONEDAY VARCHAR(5)   --只查销帐
AS
BEGIN
--DECLARE @END_DATE,
--SELECT @UB_KH;
                           /*Author JiuPing Lee */
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @Y_INT INT

IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#TEMP_TWELVE')
 DROP TABLE #TEMP_TWELVE;
CREATE TABLE #TEMP_TWELVE (USERB_KH VARCHAR(36),USERB_HM VARCHAR(100),VOLUME_NO VARCHAR(36),DEBTL_YEAR INT,DEBTL_MON INT,USERB_SQDS INT,USERB_BQDS INT,WATERU_QAN INT,WATERS_QAN INT,ADD_QAN INT,DERATE_QAN INT,WATERP_QAN INT,WATERM_STAT  VARCHAR(36),DEBTL_ZNJ MONEY,DEBTL_STOTAL MONEY,DEBTL_CPLUS MONEY,DEBTL_ATOTAL MONEY,RECORD_DATE DATETIME,PAY_TAG  VARCHAR(36),PAY_DATE  VARCHAR(36),PAY_WAY VARCHAR(36),RECORD_USER VARCHAR(36),USERB_YHDM VARCHAR(36),BANK_NUMBER VARCHAR(36),BANK_TABNO VARCHAR(36),BANK_FLOWNO VARCHAR(36),BANK_PAYDATE DATETIME,BANK_PAYQAN MONEY,WATERT_NO  VARCHAR(36),WATER_PRICE MONEY,FREEPULL_TAG  VARCHAR(36))

IF @IS_ONEDAY = '1' 
BEGIN
     IF CAST(LEFT(@START_DATE,4) AS INT) = YEAR(GETDATE()) AND CAST(RIGHT(@START_DATE,2) AS INT) = MONTH(GETDATE())
          BEGIN
               SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
               FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '2' AND CAST(CAST(DEBTL_YEAR AS VARCHAR(10))+'-'+CAST(DEBTL_MON AS VARCHAR(10))+'-1' AS DATETIME) = CAST(@START_DATE+'-1' AS DATETIME)
          END
      ELSE 
          BEGIN
                SET @QUERY_STR = 'SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
 FROM FH_DEBTOWNHIS WHERE USERB_KH = '''+@UB_KH+''' AND PAY_TAG = ''2'' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) = CAST('''+@START_DATE+'-1'' AS DATETIME) UNION ALL
 SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
 FROM FH_DEBTHIS'+LEFT(@START_DATE,4)+' WHERE USERB_KH = '''+@UB_KH+''' AND PAY_TAG = ''2'' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) = CAST('''+@START_DATE+'-1'' AS DATETIME)'
           EXEC (@QUERY_STR);
          END
END;

IF @IS_ONEDAY = '2' 
BEGIN
-- SELECT TOP 5 USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG FROM (
SET @QUERY_STR = 'INSERT INTO #TEMP_TWELVE SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
FROM FH_DEBTOWNHIS WHERE USERB_KH = '''+@UB_KH+''' AND PAY_TAG = ''2'' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= CAST('''+@START_DATE+'-1'' AS DATETIME)'
EXEC (@QUERY_STR);

 SET @QUERY_STR = 'INSERT INTO #TEMP_TWELVE SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
 FROM FH_DEBTLIST WHERE USERB_KH = '''+@UB_KH+''' AND PAY_TAG = ''2'' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= CAST('''+@START_DATE+'-1'' AS DATETIME)'
EXEC (@QUERY_STR);

       SET @Y_INT = CAST(LEFT(@START_DATE,4) AS INT)
       WHILE @Y_INT <= YEAR(GETDATE())
              BEGIN
                SET @QUERY_STR = 'INSERT INTO #TEMP_TWELVE SELECT USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG
                     FROM FH_DEBTHIS'+CAST(@Y_INT AS VARCHAR)+' WHERE USERB_KH = '''+@UB_KH+''' AND PAY_TAG = ''2'' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= CAST('''+@START_DATE+'-1'' AS DATETIME)'
                EXEC (@QUERY_STR)
                SET @Y_INT = @Y_INT + 1
              END
    
SELECT TOP 12 USERB_KH,USERB_HM,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,ADD_QAN,DERATE_QAN,WATERP_QAN,WATERM_STAT,DEBTL_ZNJ,DEBTL_STOTAL,DEBTL_CPLUS,DEBTL_ATOTAL,RECORD_DATE,PAY_TAG,PAY_DATE,PAY_WAY,RECORD_USER,USERB_YHDM,BANK_NUMBER,BANK_TABNO,BANK_FLOWNO,BANK_PAYDATE,BANK_PAYQAN,WATERT_NO,WATER_PRICE,FREEPULL_TAG FROM #TEMP_TWELVE --ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR(10))+'-'+CAST(DEBTL_MON AS VARCHAR(10))+'-1' AS DATETIME) ASC

END;



  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
END
GO
