USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[WX_OPENIDCHH_OPENID]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[WX_OPENIDCHH_OPENID](@OPENID varchar(50))
as
		SELECT a.OPENID,a.C_HH,a.DATA_FLAG,
				CONVERT(varchar(100), a.UPDATE_DATE, 20)	UPDATE_DATE,
				(SELECT WATERT_NAME FROM FH_WATERTYPE WHERE WATERT_NO = b.USERB_YSXZ) USERB_YSXZ1,
				b.*
			 FROM FH_WXOPENIDCHH a,FH_USERBASE b
	 	WHERE 
    		a.C_HH = b.USERB_KH
	 		and	OPENID = @OPENID
			ORDER BY a.UPDATE_DATE DESC
GO
