USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_WATERUQAN]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**
  功能：根据用户卡号、用水年月查询前三期用水量、去年同期用水量、上个月用水量
  说明：
  author： junlong&QY.lin
**/
CREATE PROCEDURE [dbo].[SP_WATERUQAN]
(
@USERB_KH VARCHAR(36), @DEBTL_YEAR INT, @DEBTL_MON INT
)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
  --DECLARE @DEBTL_YEAR INT, @DEBTL_MON INT;
IF @DEBTL_YEAR is NULL 
	SET @DEBTL_YEAR = YEAR(GETDATE());
IF @DEBTL_MON is NULL
	SET @DEBTL_MON = MONTH(GETDATE());

  
  IF @DEBTL_MON = 1 
   BEGIN 	
     SELECT 	ISNULL(AVG(A.WATERU_QAN), 0) THREEMON_AVG , ISNULL(B.LASTYEAR_QAN, 0) LASTYEAR_QAN, ISNULL(C.LAST_QAN, 0) LAST_QAN
		 FROM (
				SELECT 	WATERU_QAN 
				FROM  	FH_WATERUSEDHIS
				WHERE  	HIS_YEAR = @DEBTL_YEAR AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
        UNION ALL
        SELECT 	WATERU_QAN 
				FROM  	FH_WATERUSEDHIS
				WHERE  	HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH IN (12, 11) AND USERB_KH = @USERB_KH	
		 ) A
    LEFT JOIN (
				SELECT 	WATERU_QAN LASTYEAR_QAN
				FROM 		FH_WATERUSEDHIS
				WHERE		HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
    ) B 
		ON 1=1
    LEFT JOIN (
				SELECT 	WATERU_QAN LAST_QAN
				FROM 		FH_WATERUSEDHIS
				WHERE 	HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH = 12 AND USERB_KH = @USERB_KH
		) C 
		ON 1=1
		GROUP BY B.LASTYEAR_QAN, C.LAST_QAN
  END -- END @DEBTL_MON = 1
 ELSE
   BEGIN 
     IF @DEBTL_MON = 2 
       BEGIN
				SELECT 	ISNULL(AVG(A.WATERU_QAN), 0) THREEMON_AVG , ISNULL(B.LASTYEAR_QAN, 0) LASTYEAR_QAN, ISNULL(C.LAST_QAN, 0) LAST_QAN
				FROM (
						SELECT 	WATERU_QAN 
						FROM  	FH_WATERUSEDHIS
						WHERE  	HIS_YEAR = @DEBTL_YEAR AND HIS_MONTH IN (1, 2) AND USERB_KH = @USERB_KH
						UNION ALL
						SELECT 	WATERU_QAN 
						FROM  	FH_WATERUSEDHIS
						WHERE  	HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH = 11 AND USERB_KH = @USERB_KH	
				) A
				LEFT JOIN (
						SELECT 	WATERU_QAN LASTYEAR_QAN
						FROM 		FH_WATERUSEDHIS
						WHERE		HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
				) B 
				ON 1=1
				LEFT JOIN (
						SELECT 	WATERU_QAN LAST_QAN
						FROM 		FH_WATERUSEDHIS
						WHERE 	HIS_YEAR = @DEBTL_YEAR AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
				) C 
				ON 1=1
				GROUP BY B.LASTYEAR_QAN, C.LAST_QAN
       END  -- END @DEBTL_MON = 2
     ELSE
       BEGIN 
        SELECT 	ISNULL(AVG(A.WATERU_QAN), 0) THREEMON_AVG , ISNULL(B.LASTYEAR_QAN, 0) LASTYEAR_QAN, ISNULL(C.LAST_QAN, 0) LAST_QAN
				FROM (
					SELECT	WATERU_QAN
					FROM 		FH_WATERUSEDHIS
					WHERE  	HIS_YEAR = @DEBTL_YEAR AND HIS_MONTH IN (@DEBTL_MON - 2 , @DEBTL_MON - 1, @DEBTL_MON) AND USERB_KH = @USERB_KH
				) A
				LEFT JOIN (
						SELECT 	WATERU_QAN LASTYEAR_QAN
						FROM 		FH_WATERUSEDHIS
						WHERE		HIS_YEAR = @DEBTL_YEAR - 1 AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
				) B 
				ON 1=1
				LEFT JOIN (
						SELECT 	WATERU_QAN LAST_QAN
						FROM 		FH_WATERUSEDHIS
						WHERE 	HIS_YEAR = @DEBTL_YEAR AND HIS_MONTH = @DEBTL_MON AND USERB_KH = @USERB_KH
				) C 
				ON 1=1
        GROUP BY B.LASTYEAR_QAN, C.LAST_QAN
		 END
   END
END
GO
