USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_KHDEBT_LJP]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KHDEBT_LJP]
@UB_KH VARCHAR(36),
@THIS_M VARCHAR(26)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'



SELECT @UB_KH


END
GO
