USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MONTH_SFYS]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MONTH_SFYS]
@START_DATE VARCHAR(20),
@ORG_SUPERNO VARCHAR(36),  --大区号
@ORG_NO VARCHAR(36),  --小区号
@VL_NO VARCHAR(36),  --册号
@SFBZ VARCHAR(36)  ---ys  应收,ss实收，ws 未收
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @Y_INT INT
DECLARE @M_INT INT

SET @Y_INT = CAST(LEFT(@START_DATE,4) AS INT)
SET @M_INT = CAST(RIGHT(@START_DATE,2) AS INT)


IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#TEMP_SFYS')
 DROP TABLE #TEMP_SFYS;
CREATE TABLE #TEMP_SFYS(DEBTLIST_ID VARCHAR(36),USERB_KH VARCHAR(36),WATERP_QAN INT,DEBTL_STOTAL MONEY,PAY_TAG VARCHAR(20),USERB_SFFS VARCHAR(36),USERB_ZZS VARCHAR(36),VOLUME_NO VARCHAR(20),USERB_YHLX VARCHAR(20),AREA_NO VARCHAR(36),WATER_PRICE MONEY,SF MONEY,PWF MONEY,LJF MONEY);

--INSERT INTO #TEMP_SFYS(DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL) SELECT DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL FROM FH_DEBTLIST
----------------------------构造数据-----------------------------------
IF @Y_INT = YEAR(GETDATE()) AND @M_INT = MONTH(GETDATE()) 
      BEGIN 
         INSERT INTO #TEMP_SFYS(DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,AREA_NO,USERB_SFFS,USERB_YHLX) SELECT DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,CHANGE_RATETAG,IS_EXCPAY,WATERT_NO FROM FH_DEBTLIST;
         
         UPDATE #TEMP_SFYS SET USERB_ZZS = B.USERB_ZZS,VOLUME_NO = B.VOLUME_NO FROM #TEMP_SFYS A,FH_USERBASE B WHERE A.USERB_KH = B.USERB_KH;
         
         -- UPDATE #TEMP_SFYS SET USER_ID = B.USER_ID FROM #TEMP_SFYS A,FH_CBYVOLUME B WHERE A.VOLUME_NO = B.VOLUME_NO
        
         UPDATE #TEMP_SFYS SET SF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '01';
         UPDATE #TEMP_SFYS SET PWF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '02';
         UPDATE #TEMP_SFYS SET LJF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '03';
      END
ELSE 
       BEGIN 
         INSERT INTO #TEMP_SFYS(DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,AREA_NO,USERB_SFFS,USERB_YHLX) SELECT DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,CHANGE_RATETAG,IS_EXCPAY,WATERT_NO FROM FH_DEBTOWNHIS WHERE DEBTL_YEAR = @Y_INT AND DEBTL_MON = @M_INT; 
         
         SET @QUERY_STR = 'INSERT INTO #TEMP_SFYS(DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,AREA_NO,USERB_SFFS,USERB_YHLX) SELECT DEBTLIST_ID,USERB_KH,WATERP_QAN,DEBTL_STOTAL,PAY_TAG,WATER_PRICE,CHANGE_RATETAG,IS_EXCPAY,WATERT_NO  FROM FH_DEBTHIS'+LEFT(@START_DATE,4)+' WHERE DEBTL_YEAR = '+LEFT(@START_DATE,4)+' AND DEBTL_MON = '+RIGHT(@START_DATE,2);
        
         EXEC (@QUERY_STR);

         UPDATE #TEMP_SFYS SET USERB_ZZS = B.USERB_ZZS,VOLUME_NO = B.VOLUME_NO FROM #TEMP_SFYS A,FH_USERBASE B WHERE A.USERB_KH = B.USERB_KH;
         --UPDATE #TEMP_SFYS SET USER_ID = B.USER_ID FROM #TEMP_SFYS A,FH_CBYVOLUME B WHERE A.VOLUME_NO = B.VOLUME_NO
         UPDATE #TEMP_SFYS SET SF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '01';
         UPDATE #TEMP_SFYS SET PWF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '02';
         UPDATE #TEMP_SFYS SET LJF = B.PAYL_TOTAL FROM #TEMP_SFYS A,FH_PAYLIST B WHERE A.DEBTLIST_ID = B.DEBTL_ID AND B.PAYL_NO = '03';
      END 
----------------------清除多余数据-------------------------
IF @ORG_SUPERNO IS NOT NULL 
  DELETE FROM #TEMP_SFYS WHERE AREA_NO NOT IN(SELECT ORG_NO FROM FH_ORG WHERE ORG_SUPER_NO = @ORG_SUPERNO) ;

IF @ORG_SUPERNO IS NOT NULL 
  DELETE FROM #TEMP_SFYS WHERE AREA_NO <> @ORG_NO;

IF @VL_NO IS NOT NULL
  DELETE FROM #TEMP_SFYS WHERE VOLUME_NO <> @VL_NO;

IF @SFBZ = 'ss'
   DELETE FROM #TEMP_SFYS WHERE PAY_TAG <> '2';

IF @SFBZ = 'ws'
   DELETE FROM #TEMP_SFYS WHERE PAY_TAG = '2';

---刪除抄表水量為0的數據
DELETE FROM #TEMP_SFYS WHERE WATERP_QAN = 0;
----------------------------------------------------
------------------输出结果--------------------------



SELECT '0001' WATERT_NO,'托收合计' item,COUNT(*) CBHS,SUM(DEBTL_STOTAL) ZJE,SUM(WATERP_QAN) SL,SUM(SF) SF,SUM(PWF)PWF,SUM(LJF)LJF FROM  #TEMP_SFYS WHERE USERB_SFFS = 'sffs01'
UNION ALL
SELECT '0002','现金合计' item,COUNT(*) CBHS,SUM(DEBTL_STOTAL) ZJE,SUM(WATERP_QAN) SL,SUM(SF) SF,SUM(PWF)PWF,SUM(LJF)LJF FROM  #TEMP_SFYS WHERE USERB_SFFS <> 'sffs01'
UNION ALL
SELECT '0003','合计' item,COUNT(*) CBHS,SUM(DEBTL_STOTAL) ZJE,SUM(WATERP_QAN) SL,SUM(SF) SF,SUM(PWF)PWF,SUM(LJF)LJF FROM  #TEMP_SFYS 
UNION ALL
SELECT '0004','增值税户' item,COUNT(*) CBHS,SUM(DEBTL_STOTAL) ZJE,SUM(WATERP_QAN) SL,SUM(SF) SF,SUM(PWF)PWF,SUM(LJF)LJF FROM  #TEMP_SFYS WHERE USERB_ZZS = '1'
UNION ALL
SELECT '0005','按价类统计',NULL,NULL,NULL,NULL,NULL,NULL
UNION ALL
--SELECT USERB_YHLX,COUNT(*) CBHS,SUM(DEBTL_STOTAL) ZJE,SUM(WATERP_QAN) SL,SUM(SF) SF,SUM(PWF)PWF,SUM(LJF)LJF FROM  #TEMP_SFYS GROUP BY USERB_YHLX
SELECT T2.WATERT_NO,T2.WATERT_NAME,COUNT(t1.USERB_YHLX) CBHS,SUM(t1.DEBTL_STOTAL) ZJE,SUM(t1.WATERP_QAN) SL,SUM(t1.SF) SF,SUM(t1.PWF)PWF,SUM(t1.LJF)LJF FROM  #TEMP_SFYS t1,FH_WATERTYPE T2 WHERE t1.USERB_YHLX = T2.WATERT_NO GROUP BY WATERT_NAME,WATERT_NO order by watert_no 
----------------------------------------------------------

 --SELECT DEBTL_STOTAL,userb_kh FROM #TEMP_SFYS order by DEBTL_STOTAL ;
END
GO
