USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_BANK_CZ]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BANK_CZ]
@UB_KH VARCHAR(36),
@DB_YEAR INT,
@DB_MON INT,
@BK_FLOW VARCHAR(36)
AS
BEGIN
  -- routine body goes here, e.g.
    /*Author JiuPing Lee */
  -- SELECT 'Navicat for SQL Server'
UPDATE FH_FGTLIST SET FGT_CZTAG = '1',CZFLOW_NO = @BK_FLOW WHERE USERB_KH = @UB_KH AND FGTFLOW_NO = @BK_FLOW ;

UPDATE FH_DEBTLIST SET PAY_TAG = '0',DEBTL_ATOTAL = DEBTL_ATOTAL - DEBTL_ZNJ,DEBTL_ZNJ = 0.0,USERB_YHDM = NULL,BANK_NUMBER = NULL,BANK_TABNO = NULL,BANK_PAYDATE = NULL,BANK_FLOWNO = NULL
   WHERE USERB_KH = @UB_KH AND DEBTL_YEAR = @DB_YEAR AND DEBTL_MON = @DB_MON; 
UPDATE FH_DEBTOWNHIS SET PAY_TAG = '0',DEBTL_ATOTAL = DEBTL_ATOTAL - DEBTL_ZNJ,DEBTL_ZNJ = 0.0,USERB_YHDM = NULL,BANK_NUMBER = NULL,BANK_TABNO = NULL,BANK_PAYDATE = NULL,BANK_FLOWNO = NULL
    WHERE USERB_KH = @UB_KH AND DEBTL_YEAR = @DB_YEAR AND DEBTL_MON = @DB_MON;
END
GO
