USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_BANK_PAYC]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BANK_PAYC]
@UB_KH VARCHAR(36),--卡號号
@BK_NO VARCHAR(100), -- 银行编号(2位行代码+4位所代码)
@BK_FLOWNO VARCHAR(100), --流水號
@SF_DATE VARCHAR(36),
@IM_MONEY MONEY --交易金额
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @STOTAL MONEY;--初始欠费总金额
DECLARE @INIT_MONEY MONEY; --初始总金额
DECLARE @UB_YE MONEY;--初始余额
--DECLARE @CONST_YE MONEY;--不变余额
--------------------------------
DECLARE @VAR_KH VARCHAR(20);
DECLARE @VAR_TOTAL MONEY;
DECLARE @VAR_Y INT;
DECLARE @VAR_M INT;
DECLARE @VAR_ZNJ MONEY;
DECLARE @VAR_DT DATETIME;
DECLARE @WP_QAN INT;
DECLARE @UB_SFFS VARCHAR (20);
-------------------
DECLARE DEBT_CUR CURSOR FOR  SELECT USERB_KH,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) DEBTL_ATOTAL,dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)DEBTL_ZNJ,DEBTL_YEAR,DEBTL_MON,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) DT,WATERP_QAN,IS_EXCPAY FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' UNION ALL SELECT USERB_KH,DEBTL_ATOTAL,0.0,DEBTL_YEAR,DEBTL_MON,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) DT,WATERP_QAN,IS_EXCPAY FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME);

if exists (select 1 from FH_CX WHERE USERB_KH = @UB_KH) 
begin
SELECT @UB_YE = CX_YE FROM FH_CX WHERE USERB_KH = @UB_KH;
end 
else 
begin 
SET @UB_YE = 0;
end

-- SET @CONST_YE = @UB_YE;
SELECT  @STOTAL = SUM(T.DEBTL_ATOTAL) FROM (
SELECT USERB_KH,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) DEBTL_ATOTAL,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' UNION ALL 
SELECT USERB_KH,DEBTL_ATOTAL,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0')T;

--如果总额不够扣，直接返回
IF @STOTAL > @IM_MONEY+@UB_YE
   begin
   select 0 rn; --如果钱不够扣,返回rn = 0
   return; --退出
   end

--如果卡号为空，直接返回
IF @UB_KH IS NULL
  BEGIN 
   Deallocate DEBT_CUR;
   select 0 rn; --如果卡号为空,返回rn = 0 
  RETURN; --退出
  END

SET @IM_MONEY = @IM_MONEY + @UB_YE;
OPEN DEBT_CUR;
FETCH NEXT FROM DEBT_CUR INTO @VAR_KH,@VAR_TOTAL,@VAR_ZNJ,@VAR_Y,@VAR_M,@VAR_DT,@WP_QAN,@UB_SFFS;
While(@@Fetch_Status = 0)
Begin
   IF @UB_YE<>0 AND @UB_YE <= @VAR_TOTAL --当余额大于0小于当月欠费
                       BEGIN 
                       -- SET @UB_YE = 0
                       UPDATE FH_DEBTLIST SET PAY_TAG = '2',PAY_WAY ='2',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                       UPDATE FH_DEBTOWNHIS SET PAY_TAG = '2',PAY_WAY = '2',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                       -------------------
                       INSERT INTO [FH_FGTLIST] ([FGTLIST_ID], [FGTFLOW_NO], [USERB_KH],  [FGT_YEAR],  [FGT_STOTAL], [FGT_ATOTAL], [FGT_WYJ], [FGT_LLEFT], [FGT_BLEFT], [FGT_TAG], [FGT_CZTAG], [FGT_SFDATE], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [FGT_WAY], [FGT_MONTH], [USERB_YHDM], [BANK_NUMBER], [CZFLOW_NO], [PAY_DATE],[WATERP_QAN],[USERB_SFFS]) 
                          SELECT NEWID(),@BK_FLOWNO,@UB_KH,@VAR_Y,@VAR_TOTAL-@VAR_ZNJ,@VAR_TOTAL-@UB_YE,@VAR_ZNJ,@UB_YE,0.0,'0','0',CAST(@SF_DATE AS DATETIME),'1',GETDATE(),NULL,NULL,'2',@VAR_M,LEFT(@BK_NO,2),RIGHT(@BK_NO,4),NULL,GETDATE(),@WP_QAN,@UB_SFFS;
                        -------------------
                       INSERT INTO [FH_CXOPHIS] ([CXOPHIS_ID], [USERB_KH], [OPER_DATE], [OPER_WAY], [OPER_MONEY], [CXOP_MONEY], [OPER_USERID], [OPER_KPDATE], [OPER_KPTAG], [OPER_KPH], [OPER_DYDATE], [OPER_HZTAG], [OPER_SFY], [OPER_ZLJZE], [OPER_YSJE], [OPER_YEAR], [OPER_MONTH], [OPER_YQTS], [OPER_ZNJ], [OPER_DESC]) 
                          SELECT NEWID(),@UB_KH,GETDATE(),'3',@UB_YE,0,'1',NULL,NULL,NULL,NULL,NULL,'1',@VAR_ZNJ,@VAR_TOTAL,@VAR_Y,@VAR_M,NULL,@VAR_ZNJ,'银行实时收费'+dbo.FUNC_GETYM(@VAR_Y,@VAR_M);
                        -------------------
                       UPDATE FH_CX SET CX_YE = 0 WHERE USERB_KH = @UB_KH;
                        -------------------
                       SET  @IM_MONEY = @IM_MONEY - @VAR_TOTAL;
                       SET @UB_YE = 0;
                       END
                     else IF @UB_YE > 0 AND @UB_YE > @VAR_TOTAL --当余额大于0大于当月欠费
                       BEGIN 
                         -- SET @UB_YE = 0
                       UPDATE FH_DEBTLIST SET PAY_TAG = '2',PAY_WAY ='11',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                       UPDATE FH_DEBTOWNHIS SET PAY_TAG = '2',PAY_WAY = '11',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                       -------------------
                       INSERT INTO [FH_FGTLIST] ([FGTLIST_ID], [FGTFLOW_NO], [USERB_KH],  [FGT_YEAR],  [FGT_STOTAL], [FGT_ATOTAL], [FGT_WYJ], [FGT_LLEFT], [FGT_BLEFT], [FGT_TAG], [FGT_CZTAG], [FGT_SFDATE], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [FGT_WAY], [FGT_MONTH], [USERB_YHDM], [BANK_NUMBER], [CZFLOW_NO], [PAY_DATE],[WATERP_QAN],[USERB_SFFS]) 
                          SELECT NEWID(),@BK_FLOWNO,@UB_KH,@VAR_Y,@VAR_TOTAL-@VAR_ZNJ,0.0,@VAR_ZNJ,@VAR_TOTAL,0.0,'0','0',CAST(@SF_DATE AS DATETIME),'1',GETDATE(),NULL,NULL,'2',@VAR_M,LEFT(@BK_NO,2),RIGHT(@BK_NO,4),NULL,GETDATE(),@WP_QAN,@UB_SFFS;
                        -------------------
                       INSERT INTO [FH_CXOPHIS] ([CXOPHIS_ID], [USERB_KH], [OPER_DATE], [OPER_WAY], [OPER_MONEY], [CXOP_MONEY], [OPER_USERID], [OPER_KPDATE], [OPER_KPTAG], [OPER_KPH], [OPER_DYDATE], [OPER_HZTAG], [OPER_SFY], [OPER_ZLJZE], [OPER_YSJE], [OPER_YEAR], [OPER_MONTH], [OPER_YQTS], [OPER_ZNJ], [OPER_DESC]) 
                          SELECT NEWID(),@UB_KH,GETDATE(),'3',@VAR_TOTAL,@UB_YE-@VAR_TOTAL,'1',NULL,NULL,NULL,NULL,NULL,'1',@VAR_ZNJ,@VAR_TOTAL,@VAR_Y,@VAR_M,NULL,@VAR_ZNJ,'银行实时收费'+dbo.FUNC_GETYM(@VAR_Y,@VAR_M);
                        -------------------
                       UPDATE FH_CX SET CX_YE = @UB_YE-@VAR_TOTAL WHERE USERB_KH = @UB_KH;
                        -------------------
                       SET  @IM_MONEY = @IM_MONEY - @VAR_TOTAL;
                       SET @UB_YE = @UB_YE-@VAR_TOTAL;
                       END

                  ELSE    
                       BEGIN
                        UPDATE FH_DEBTLIST SET PAY_TAG = '2',PAY_WAY ='2',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                        UPDATE FH_DEBTOWNHIS SET PAY_TAG = '2',PAY_WAY = '2',PAY_DATE = GETDATE(),BANK_PAYDATE = CAST(@SF_DATE AS DATETIME),DEBTL_ATOTAL = @VAR_TOTAL,DEBTL_ZNJ = @VAR_ZNJ,USERB_YHDM =LEFT(@BK_NO,2),BANK_NUMBER = RIGHT(@BK_NO,4),BANK_PAYQAN = @VAR_TOTAL,BANK_FLOWNO = @BK_FLOWNO WHERE USERB_KH =  @UB_KH AND DEBTL_YEAR = @VAR_Y AND DEBTL_MON = @VAR_M;
                        -------------------
                        INSERT INTO [FH_FGTLIST] ([FGTLIST_ID], [FGTFLOW_NO], [USERB_KH],  [FGT_YEAR],  [FGT_STOTAL], [FGT_ATOTAL], [FGT_WYJ], [FGT_LLEFT], [FGT_BLEFT], [FGT_TAG], [FGT_CZTAG], [FGT_SFDATE], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [FGT_WAY], [FGT_MONTH], [USERB_YHDM], [BANK_NUMBER], [CZFLOW_NO], [PAY_DATE],[WATERP_QAN],[USERB_SFFS]) 
                          SELECT NEWID(),@BK_FLOWNO,@UB_KH,@VAR_Y,@VAR_TOTAL-@VAR_ZNJ,@VAR_TOTAL,@VAR_ZNJ,0.0,0.0,'0','0',CAST(@SF_DATE AS DATETIME),'1',GETDATE(),NULL,NULL,'2',@VAR_M,LEFT(@BK_NO,2),RIGHT(@BK_NO,4),NULL,GETDATE(),@WP_QAN,@UB_SFFS;
                        -------------------
                   
                        SET  @IM_MONEY = @IM_MONEY - @VAR_TOTAL;
                       END

FETCH NEXT FROM DEBT_CUR INTO @VAR_KH,@VAR_TOTAL,@VAR_ZNJ,@VAR_Y,@VAR_M,@VAR_DT,@WP_QAN,@UB_SFFS;
END


--------------如果 存在记录，更新最终余额,如果不存在记录，且最终余额大于0,则向FH_CX插入新记录-------             
if exists (select 1 from FH_CX WHERE USERB_KH = @UB_KH) 
 begin
    
    UPDATE FH_CX SET CX_YE = @IM_MONEY WHERE USERB_KH = @UB_KH; 
    INSERT INTO [FH_CXOPHIS] ([CXOPHIS_ID], [USERB_KH], [OPER_DATE], [OPER_WAY], [OPER_MONEY], [CXOP_MONEY], [OPER_USERID], [OPER_KPDATE], [OPER_KPTAG], [OPER_KPH], [OPER_DYDATE], [OPER_HZTAG], [OPER_SFY], [OPER_ZLJZE], [OPER_YSJE], [OPER_YEAR], [OPER_MONTH], [OPER_YQTS], [OPER_ZNJ], [OPER_DESC]) 
                          SELECT NEWID(),@UB_KH,GETDATE(),'4',@IM_MONEY,@IM_MONEY,'1',NULL,NULL,NULL,NULL,NULL,'1',@VAR_ZNJ,@VAR_TOTAL,@VAR_Y,@VAR_M,NULL,@VAR_ZNJ,'银行实时收费'+dbo.FUNC_GETYM(@VAR_Y,@VAR_M);

 end 
else 
 begin 
   IF @IM_MONEY > 0
     begin
     INSERT INTO FH_CX VALUES (NEWID(),@UB_KH,@IM_MONEY,GETDATE(),'1');      ------------------              
     INSERT INTO [FH_CXOPHIS] ([CXOPHIS_ID], [USERB_KH], [OPER_DATE], [OPER_WAY], [OPER_MONEY], [CXOP_MONEY], [OPER_USERID], [OPER_KPDATE], [OPER_KPTAG], [OPER_KPH], [OPER_DYDATE], [OPER_HZTAG], [OPER_SFY], [OPER_ZLJZE], [OPER_YSJE], [OPER_YEAR], [OPER_MONTH], [OPER_YQTS], [OPER_ZNJ], [OPER_DESC]) 
                          SELECT NEWID(),@UB_KH,GETDATE(),'4',@IM_MONEY,@IM_MONEY,'1',NULL,NULL,NULL,NULL,NULL,'1',@VAR_ZNJ,@VAR_TOTAL,@VAR_Y,@VAR_M,NULL,@VAR_ZNJ,'银行实时收费'+dbo.FUNC_GETYM(@VAR_Y,@VAR_M);
      end     
 end     
--------------------------------------------------        
     
UPDATE FH_FGTLIST SET FGT_BLEFT = @IM_MONEY,FGT_ATOTAL=FGT_ATOTAL+@IM_MONEY WHERE USERB_KH = @UB_KH AND FGT_YEAR=@VAR_Y AND FGT_MONTH = @VAR_M;
 

CLOSE DEBT_CUR;
DEALLOCATE DEBT_CUR;

----------成功返回1
SELECT 1 rn;
END
GO
