USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_JJDATAHIS_STATIC]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JJDATAHIS_STATIC]
@UB_KH VARCHAR(36),
@START_DATE SMALLDATETIME,
@END_DATE SMALLDATETIME,
@H_MIN INT
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @C_COUNT INT

SET @C_COUNT = 24*60*(DATEDIFF(day, @START_DATE, @END_DATE)+1)/@H_min;

SELECT t1.TIMECOL,T2.LATESTDATA FROM 
(SELECT SEQ - 1 SEQ,DATEADD(MINUTE,@H_MIN*(SEQ-1),@START_DATE) TIMECOL FROM FH_SEQUENCE WHERE SEQ <= @C_COUNT)t1
LEFT JOIN 
(SELECT cast(floor(cast(LATESTDTime as float)*24*60/@H_MIN)*@H_MIN/60/24 as smalldatetime) htime,MAX(LATESTDATA) - MIN(LATESTDATA) LATESTDATA FROM FH_JJDATAHIS where JJ_ZDNO=@UB_KH and LATESTDTime >= @START_DATE and LATESTDTime < DATEADD(DAY,1,@END_DATE) GROUP BY cast(floor(cast(LATESTDTime as float)*24*60/@H_MIN)*@H_MIN/60/24 as smalldatetime)) T2 ON t1.TIMECOL = T2.htime
order by t1.TIMECOL


-- SELECT @START_DATE ,@C_COUNT;
END
GO
