USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[WX_SETMAIN]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WX_SETMAIN]
(@OPENID varchar(50), @C_HH varchar(20),@UPDATE_DATE varchar(20))
AS
BEGIN

	UPDATE FH_WXOPENIDCHH SET UPDATE_DATE=@UPDATE_DATE WHERE OPENID = @OPENID AND C_HH = @C_HH;

END
GO
