USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATETAG]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATETAG]
AS
BEGIN
  --用于更新FH_USERBASE表里 阶梯水价标识和季节性加价标识，费率维护时 调用此过程
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
UPDATE FH_USERBASE SET LADDER_TAG='1',SEASON_TAG='0' WHERE USERB_KH IN (select t1.userb_kh from FH_USERBASE T1,FH_RATEMAINTAIN T2 WHERE T1.USERB_YHLX = T2.WATERT_NO and T2.COSTI_NO = '01' AND T2.CALT_NO = '03');
UPDATE FH_USERBASE SET LADDER_TAG='0',SEASON_TAG='0' WHERE USERB_KH IN (select t1.userb_kh from FH_USERBASE T1,FH_RATEMAINTAIN T2 WHERE T1.USERB_YHLX = T2.WATERT_NO and T2.COSTI_NO = '01' AND T2.CALT_NO NOT IN('04','03'));
UPDATE FH_USERBASE SET LADDER_TAG='0',SEASON_TAG='1' WHERE USERB_KH IN (select t1.userb_kh from FH_USERBASE T1,FH_RATEMAINTAIN T2 WHERE T1.USERB_YHLX = T2.WATERT_NO and T2.COSTI_NO = '01' AND T2.CALT_NO = '04');
-- UPDATE FH_USERBASE SET FREEPULL_TAG='0' WHERE USERB_YHLX IN (select t1.USERB_YHLX from FH_USERBASE T1,FH_RATEMAINTAIN T2 WHERE T1.USERB_YHLX = T2.WATERT_NO and T2.COSTI_NO = '02');
-- UPDATE FH_USERBASE SET FREEPULL_TAG='1' WHERE USERB_YHLX NOT IN (select t1.USERB_YHLX from FH_USERBASE T1,FH_RATEMAINTAIN T2 WHERE T1.USERB_YHLX = T2.WATERT_NO and T2.COSTI_NO = '02');


END
GO
