USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_OWN_ALLHIS]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OWN_ALLHIS]
@ORGSUPER_NO VARCHAR(20),
@ORG_NO VARCHAR(20),
@VO_NO VARCHAR(20)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'

-- SELECT @VO_NO;

IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_kh')
 DROP TABLE #temp_kh;

SELECT VOLUME_NO,USERB_JBH,USERB_KH,USERB_HM,USERB_ADDR,USERB_DH,USERB_MT INTO #TEMP_KH FROM FH_USERBASE WHERE USERB_SFFS <> 'sffs01';

IF @VO_NO IS NOT NULL
   BEGIN
      DELETE FROM #TEMP_KH WHERE VOLUME_NO <> @VO_NO;
   END
   ELSE IF @ORG_NO IS NOT NULL
   BEGIN
     DELETE FROM #TEMP_KH WHERE VOLUME_NO NOT IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO = @ORG_NO);
   END
   ELSE IF @ORGSUPER_NO IS NOT NULL
   BEGIN
     DELETE FROM #TEMP_KH WHERE VOLUME_NO NOT IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO IN (SELECT ORG_nO FROM FH_ORG WHERE ORG_SUPER_NO = @ORGSUPER_NO));
   END



SELECT * FROM(
SELECT 
T2.VOLUME_NO,T2.USERB_JBH,t1.USERB_KH,T2.USERB_HM,T2.USERB_ADDR,T2.USERB_DH,T2.USERB_MT,
ISNULL(ROUND(CAST(T3.DEBTL_ATOTAL AS FLOAT),2), '') DEBTL_ATOTAL,
ISNULL(CAST(T3.WATERP_QAN as VARCHAR), '') WATERP_QAN,
ISNULL(ROUND(CAST(T4.DEBTL_OATOTAL AS FLOAT),2), '') DEBTL_OATOTAL,
ISNULL(CAST(T4.DEBTL_OZNJ AS DECIMAL(10,2)) , 0) DEBTL_OZNJ,
ISNULL(T4.WATERP_OQAN,0) WATERP_OQAN, 
ISNULL(ROUND(CAST((ISNULL(T3.DEBTL_ATOTAL,0)+ISNULL(T4.DEBTL_OATOTAL,0)) AS FLOAT),2), '') DEBTL_AATOTAL,
(ISNULL(T3.WATERP_QAN,0)+ISNULL(T4.WATERP_OQAN,0)) WATERP_AQAN, 
ISNULL(T4.DEBTL_MON, '') DEBTL_MON 
FROM 
(SELECT DISTINCT T.USERB_KH FROM (
SELECT USERB_KH FROM FH_DEBTLIST WHERE PAY_TAG = '0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH)
UNION ALL 
SELECT DISTINCT USERB_KH FROM FH_DEBTOWNHIS WHERE PAY_TAG ='0' AND  USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH))T )T1 
LEFT JOIN
#TEMP_KH T2 ON T1.USERB_KH = T2.USERB_KH
LEFT JOIN 
(SELECT USERB_KH, DEBTL_ATOTAL,WATERP_QAN FROM FH_DEBTLIST WHERE PAY_TAG = '0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH)) T3 ON T1.USERB_KH =T3.USERB_KH
LEFT JOIN
(SELECT USERB_KH, SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)+DEBTL_ATOTAL) DEBTL_OATOTAL,SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)) DEBTL_OZNJ,SUM(WATERP_QAN) WATERP_OQAN,count(*) DEBTL_MON  FROM FH_DEBTOWNHIS WHERE PAY_TAG ='0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH) GROUP BY USERB_KH) T4 ON T1.USERB_KH = T4.USERB_KH



UNION

SELECT '' VOLUME_NO,'总计' USERB_JBH,'' USERB_KH, '' USERB_HM, '' USERB_ADDR, '' USERB_DH,'' USERB_MT,sum(T3.DEBTL_ATOTAL),
SUM(T3.WATERP_QAN),
sum(T4.DEBTL_OATOTAL),sum(T4.DEBTL_OZNJ),sum(T4.WATERP_OQAN),sum((ISNULL(T3.DEBTL_ATOTAL,0)+ISNULL(T4.DEBTL_OATOTAL,0))) DEBTL_AATOTAL,sum((ISNULL(T3.WATERP_QAN,0)+ISNULL(T4.WATERP_OQAN,0))) WATERP_AQAN,sum(T4.DEBTL_MON) FROM 
(SELECT DISTINCT T.USERB_KH FROM (
SELECT USERB_KH FROM FH_DEBTLIST WHERE PAY_TAG = '0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH)
UNION ALL 
SELECT DISTINCT USERB_KH FROM FH_DEBTOWNHIS WHERE PAY_TAG ='0' AND  USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH))T )T1 
LEFT JOIN
#TEMP_KH T2 ON T1.USERB_KH = T2.USERB_KH
LEFT JOIN 
(SELECT USERB_KH,DEBTL_ATOTAL,WATERP_QAN FROM FH_DEBTLIST WHERE PAY_TAG = '0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH)) T3 ON T1.USERB_KH =T3.USERB_KH
LEFT JOIN
(SELECT USERB_KH,SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)+DEBTL_ATOTAL) DEBTL_OATOTAL,SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)) DEBTL_OZNJ,SUM(WATERP_QAN) WATERP_OQAN,count(*) DEBTL_MON  FROM FH_DEBTOWNHIS WHERE PAY_TAG ='0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH) GROUP BY USERB_KH) T4 ON T1.USERB_KH = T4.USERB_KH



	
) ee WHERE 1 = 1 ORDER BY ee.USERB_JBH

/*

-- 
SELECT USERB_KH,DEBTL_ATOTAL,WATERP_QAN FROM FH_DEBTLIST WHERE PAY_TAG = '0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH) 
SELECT USERB_KH,SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)+DEBTL_ATOTAL) DEBTL_OATOTAL,SUM([dbo].[FUNC_CALC_ZNJ](DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)) DEBTL_OZNJ,SUM(WATERP_QAN) WATERP_OQAN,count(*) debtl_mon  FROM FH_DEBTOWNHIS WHERE PAY_TAG ='0' AND USERB_KH IN (SELECT USERB_KH FROM #TEMP_KH) GROUP BY USERB_KH

SELECT VOLUME_NO,USERB_JBH,USERB_KH,USERB_HM,USERB_ADDR,USERB_DH,USERB_MT INTO #TEMP_KH FROM FH_USERBASE WHERE USERB_SFFS <> 'sffs01';

IF @ORGSUPER_NO IS NOT NULL
   BEGIN
       DELETE FROM #TEMP_KH WHERE USERB_KH NOT IN (SELECT USERB_KH FROM #TEMP_KH WHERE VOLUME_NO IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO  IN (SELECT ORG_NO FROM FH_ORG WHERE ORG_SUPER_NO =  @ORGSUPER_NO)));
   END

IF @ORG_NO IS NOT NULL
   BEGIN
       DELETE FROM #TEMP_KH WHERE USERB_KH NOT IN (SELECT USERB_KH FROM #TEMP_KH WHERE VOLUME_NO IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO =@ORG_NO));
   END

IF @VO_NO IS NOT NULL
   BEGIN
      DELETE FROM #TEMP_KH WHERE USERB_KH NOT IN (SELECT USERB_KH FROM #TEMP_KH WHERE VOLUME_NO = @VO_NO);
   END
*/

END
GO
