USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MONTH_QK]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MONTH_QK]
AS
BEGIN

DECLARE @Y_INT INT
DECLARE @QUERY_STR VARCHAR(4000)




SET @Y_INT = 2009
WHILE @Y_INT <= YEAR(GETDATE())
  BEGIN  

     IF  NOT EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='FH_DEBTHIS'+CAST(@Y_INT AS VARCHAR)) 
         BEGIN
          SET @QUERY_STR = 'SELECT TOP 0 * INTO FH_DEBTHIS'+CAST(@Y_INT AS VARCHAR)+' FROM FH_DEBTHIS2015' 
          EXEC (@QUERY_STR)
         END
       

      SET @QUERY_STR = 'INSERT INTO [FH_DEBTHIS'+CAST(@Y_INT AS VARCHAR)+'] ([DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG])
       SELECT [DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG] FROM FH_DEBTOWNHIS WHERE PAY_TAG =''2'' AND DEBTL_YEAR ='+CAST(@Y_INT AS VARCHAR);                   
       
          EXEC (@QUERY_STR)
      
       SET @Y_INT = @Y_INT + 1;      

    END

------------清库FH_WATERUSED, FH_USERBASE------------
 INSERT INTO [FH_WATERUSEDHIS] ([WATERUSEDHIS_ID], [VOLUME_NO], [USERB_KH], [HIS_MONTH], [HIS_YEAR], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EXC_STATUS], [RECORDER], [CAL_STATUS], [CAL_USERID], [THREEMON_AVG], [LAST_QAN], [LASTYEAR_QAN], [EXC_VALUE], [WARN_MIN], [WARN_MAX], [RECORD_STATUS], [USERB_HM], [USERB_YHLX], [CHANGE_QAN], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [IS_CALC], [AREA_NO], [LASTTHREE_FLOAT], [LAST_FLOAT], [LASTYEAR_FLOAT], [SYNC_USERID], [SYNC_DATE], [CAL_DATE], [WATERU_YEAR], [WATERU_MONTH], [DERATE_QAN], [ADD_QAN], [COUNT_QAN], [WATER_BK], [IS_DONE], [IS_FH], [IS_CBWAY],[USERB_SFFS])
 SELECT [WATERUSED_ID], [VOLUME_NO], [USERB_KH], WATERU_MONTH,WATERU_YEAR,[USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EXC_STATUS], [RECORDER], [CAL_STATUS], [CAL_USERID], [THREEMON_AVG], [LAST_QAN], [LASTYEAR_QAN], [EXC_VALUE], [WARN_MIN], [WARN_MAX], [RECORD_STATUS], [USERB_HM], [USERB_YHLX], [CHANGE_QAN], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [IS_CALC], [AREA_NO], [LASTTHREE_FLOAT], [LAST_FLOAT], [LASTYEAR_FLOAT], '1',GETDATE(),[CAL_DATE], [WATERU_YEAR], [WATERU_MONTH], [DERATE_QAN], [ADD_QAN], [COUNT_QAN], [WATER_BK], [IS_DONE], [IS_FH], [IS_CBWAY],[USERB_SFFS] FROM FH_WATERUSED;
UPDATE FH_USERBASE SET USERB_SQDS = B.USERB_SQDS,USERB_BQDS = B.USERB_BQDS,USERB_SYSL = B.COUNT_QAN FROM FH_USERBASE A,FH_WATERUSED B WHERE A.USERB_KH = B.USERB_KH;
TRUNCATE TABLE FH_WATERUSED;
----------------------------------------

------------清库FH_DEBTLIST,FH_DEBTOWNHIS---------------
UPDATE FH_DEBTLIST SET PAY_TAG = '2' WHERE DEBTL_STOTAL = 0;
SET @QUERY_STR = 'INSERT INTO [FH_DEBTHIS'+CAST(@Y_INT-1 AS VARCHAR)+'] ([DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG])
SELECT [DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG] FROM FH_DEBTLIST WHERE PAY_TAG = ''2''';

EXEC (@QUERY_STR);

INSERT INTO [FH_DEBTOWNHIS] ([DEBTLIST_ID],[RECORDHIS_DATE], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG])
SELECT [DEBTLIST_ID], GETDATE(),[USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY], [BC_TAG] FROM FH_DEBTLIST WHERE PAY_TAG <> '2';

TRUNCATE TABLE FH_DEBTLIST;
DELETE FROM FH_DEBTOWNHIS WHERE PAY_TAG = '2';
-------------------------------------------------------
--------------清库FH_METERHIS-------------------------
UPDATE FH_METERHIS SET BILL_YEAR = YEAR(DATEADD(month,1,CAST(cast(BILL_YEAR AS VARCHAR)+'-'+CAST(BILL_MONTH AS VARCHAR)+'-1' AS DATETIME))),BILL_MONTH = MONTH(DATEADD(month,1,CAST(cast(BILL_YEAR AS VARCHAR)+'-'+CAST(BILL_MONTH AS VARCHAR)+'-1' AS DATETIME))) WHERE BILL_YEAR = YEAR(GETDATE()) AND BILL_MONTH = MONTH(GETDATE()) AND METERH_CONTENT = '1';
-------------------------------------------------------
 ----------------FH_DMA_USED---------------------
INSERT INTO [FH_DMA_USED] ([DMA_USED_ID], [USERB_KH], [DMA_YEAR], [DMA_MONTH],[DMA_BQDS], [DMA_WATERU], [CREATE_PERSON], [CREATE_DATE]) 
SELECT NEWID(),t1.USERB_KH,YEAR(DATEADD(MONTH,1,GETDATE())),MONTH(DATEADD(MONTH,1,GETDATE())),NULL,NULL,'1',getdate() from (
SELECT USERB_KH FROM FH_DMA_LOCAL a WHERE a.MATCH_TYPE='2' AND a.DMA_SOURCE='2' 
UNION ALL 
SELECT USERB_KH FROM FH_USERBASE b WHERE b.VOLUME_NO IN
(SELECT VOLUME_NO FROM FH_DMA_LOCAL c WHERE c.MATCH_TYPE='1' AND c.DMA_SOURCE='2'))t1;
UPDATE [FH_DMA_USED] SET DMA_SQDS = T2.DMA_BQDS FROM [FH_DMA_USED] T1,(SELECT USERB_KH,DMA_BQDS FROM [FH_DMA_USED] WHERE DMA_YEAR = YEAR(GETDATE()) AND DMA_MONTH = MONTH(GETDATE())) T2 WHERE t1.USERB_KH = T2.USERB_KH AND t1.DMA_YEAR = YEAR(DATEADD(MONTH,1,GETDATE())) AND t1.DMA_MONTH = MONTH(DATEADD(MONTH,1,GETDATE()));
------------------

----------------FH_JJDATAHIS---------------------
DELETE FROM FH_JJDATAHIS WHERE LATESTDTime < DATEADD(YEAR,-1,GETDATE());
--------------------------------------------------
SELECT '1' rn

END
GO
