USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIDWARE_PDHIS]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MIDWARE_PDHIS]
@UB_KH VARCHAR(36),
@DT_TIME VARCHAR(36),
@CK_MOD VARCHAR(36)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'

DECLARE @INIT INT
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @YINT INT
DECLARE @MINT INT


SET @INIT = CAST(LEFT(@DT_TIME,4) AS INT)
SET @YINT = CAST(LEFT(@DT_TIME,4) AS INT)
SET @MINT = CAST(right(@DT_TIME,2) AS INT)



-- SELECT  @HL = PEN_RATE FROM FH_PENALTY WHERE PEN_TYPE = 'wyjff01';

IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_payeda')
 DROP TABLE #temp_payeda;
CREATE TABLE #temp_payeda(DEBTLIST_ID VARCHAR(36),DEBTL_YEAR INT,DEBTL_MON INT,USERB_KH VARCHAR(36),USERB_HM VARCHAR(100),USERB_ADDR VARCHAR(200),IT_COUNT INT,L101 VARCHAR(30),L102 INT,L103 INT,L104 INT,L105 INT,L106 INT,L107 INT,L108 MONEY,L109 MONEY,L110 MONEY,L111 MONEY,L112 MONEY,L113 MONEY,L114 MONEY,L115 MONEY,L116 MONEY,L117 MONEY,L118 MONEY);

IF @CK_MOD = '1'
BEGIN
INSERT INTO #TEMP_PAYEDA(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+'-'+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR)+'-01' AS DATETIME) >= CAST(@DT_TIME+'-01' AS DATETIME) AND PAY_TAG = '2';


INSERT INTO #TEMP_PAYEDA(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+'-'+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH  AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR)+'-01' AS DATETIME) >= CAST(@DT_TIME+'-01' AS DATETIME) AND PAY_TAG = '2';

   WHILE @INIT <= YEAR(GETDATE())
      BEGIN
       SET @QUERY_STR = 'INSERT INTO #temp_payeda(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTHIS'+CAST(@INIT AS VARCHAR)+' WHERE USERB_KH ='''+@UB_KH+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-01'' AS DATETIME) >= CAST('''+@DT_TIME+'''+''-01'' AS DATETIME) AND PAY_TAG = ''2'''
   --SELECT @QUERY_STR
       EXEC (@QUERY_STR)
       SET @INIT = @INIT + 1
  END
END


IF @CK_MOD = '0'
BEGIN
INSERT INTO #TEMP_PAYEDA(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+'-'+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR)+'-01' AS DATETIME) = CAST(@DT_TIME+'-01' AS DATETIME) AND PAY_TAG = '2';

INSERT INTO #TEMP_PAYEDA(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) 
  SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR(20))+'-'+CAST(DEBTL_MON AS VARCHAR(20)),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH  AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR)+'-01' AS DATETIME) = CAST(@DT_TIME+'-01' AS DATETIME) AND PAY_TAG = '2';
  
  SET @QUERY_STR = 'INSERT INTO #temp_payeda(DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,L101,L102,L103,L104,L105,L106,L107,L115,L116,L118) SELECT DEBTLIST_ID,DEBTL_YEAR,DEBTL_MON,USERB_KH,USERB_HM,CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR),USERB_SQDS,USERB_BQDS,WATERU_QAN,WATERS_QAN,DERATE_QAN,WATERP_QAN,DEBTL_ZNJ,0,DEBTL_ATOTAL FROM FH_DEBTHIS'+CAST(@INIT AS VARCHAR)+' WHERE USERB_KH ='''+@UB_KH+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-01'' AS DATETIME) = CAST('''+@DT_TIME+'''+''-01'' AS DATETIME) AND PAY_TAG = ''2'''
  EXEC (@QUERY_STR)
END

DELETE FROM #TEMP_PAYEDA WHERE USERB_KH+CAST(DEBTL_YEAR AS VARCHAR)+CAST(DEBTL_MON AS VARCHAR) IN (SELECT USERB_KH+CAST(BILLP_YEAR  AS VARCHAR)+CAST(BILLP_MONTH AS VARCHAR) FROM FH_BILLPRINT WHERE USERB_KH = @UB_KH)

UPDATE #TEMP_PAYEDA SET USERB_ADDR = B.USERB_ADDR,L108 = B.USERB_CUP FROM #TEMP_PAYEDA A,(SELECT USERB_ADDR,USERB_CUP FROM FH_USERBASE WHERE USERB_KH = @UB_KH)B;
UPDATE #TEMP_PAYEDA SET IT_COUNT = (SELECT COUNT(1) FROM FH_TICKET);

UPDATE #TEMP_PAYEDA SET L109 = B.PAYL_TOTAL FROM #TEMP_PAYEDA A,FH_PAYLIST B WHERE B.PAYL_NO = '01' AND A.DEBTLIST_ID = B.DEBTL_ID;
UPDATE #TEMP_PAYEDA SET L113 = B.PAYL_TOTAL FROM #TEMP_PAYEDA A,FH_PAYLIST B WHERE B.PAYL_NO = '02' AND A.DEBTLIST_ID = B.DEBTL_ID;
UPDATE #TEMP_PAYEDA SET L114 = B.PAYL_TOTAL FROM #TEMP_PAYEDA A,FH_PAYLIST B WHERE B.PAYL_NO = '03' AND A.DEBTLIST_ID = B.DEBTL_ID;


UPDATE #TEMP_PAYEDA SET L110 = B.STEP1_FEE,l111 = B.STEP2_FEE,L112 = B.STEP3_FEE FROM #TEMP_PAYEDA A,FH_JTSS B WHERE A.USERB_KH = B.USERB_KH AND A.DEBTL_YEAR = B.DEBTL_YEAR AND A.DEBTL_MON = B.DEBTL_MON;

UPDATE #TEMP_PAYEDA SET L117 = (SELECT CX_YE FROM FH_CX WHERE USERB_KH = @UB_KH);

UPDATE #TEMP_PAYEDA SET L101 = LEFT(L101,4)+'0'+RIGHT(L101,1) WHERE LEN(L101) = 6;
UPDATE #TEMP_PAYEDA SET L101 = LEFT(L101,4)+RIGHT(L101,2) WHERE LEN(L101) = 7;

SELECT USERB_HM,DEBTL_YEAR,DEBTL_MON,USERB_ADDR,IT_COUNT,L101,L102,L103,L104,L105,L106,L107,ROUND(CAST(L108 AS FLOAT),2) L108,ROUND(CAST(L109 AS FLOAT),2) L109,ROUND(CAST(L110 AS FLOAT),2) L110,ROUND(CAST(L111 AS FLOAT),2) L111,ROUND(CAST(L112 AS FLOAT),2) L112,ROUND(CAST(L113 AS FLOAT),2) L113,ROUND(CAST(L114 AS FLOAT),2) L114,ROUND(CAST(L115 AS FLOAT),2) L115,ROUND(CAST(L116 AS FLOAT),2) L116,ROUND(CAST(L117 AS FLOAT),2) L117,ROUND(CAST(L118 AS FLOAT),2) L118 FROM #TEMP_PAYEDA ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR(20))+'-'+CAST(DEBTL_MON AS VARCHAR(20))+'-01' AS DATETIME) ASC;

END
GO
