USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEBT_ALL]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEBT_ALL]
@UB_KH VARCHAR(20), --卡号
@Q_MODE VARCHAR(20),  -- mode 为 1按年查,mode 为2 按起始年月查
@START_DATE VARCHAR(20), --起始年月，mode 为1 时，为年(2016),为2时传参格式'2016-05-01'
@END_DATE VARCHAR(20) --结束年月，为2时传参格式'2016-05-01'
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @Y_INT INT

IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#TEMP_TWELVE')
 DROP TABLE #TEMP_ALL;


CREATE TABLE #TEMP_ALL (DEBTLIST_ID VARCHAR(36),[USERB_KH] VARCHAR(36), [USERB_HM] VARCHAR(100), [DEBTL_YEAR] INT, [DEBTL_MON] INT, [PAY_TAG] VARCHAR(36), [USERB_SQDS] INT, [USERB_BQDS] INT, [WATERU_QAN] INT, [EST_WATER] INT, [WATERP_QAN] INT, [DEBTL_ZNJ] MONEY, [DEBTL_STOTAL] MONEY, [PAY_WAY] VARCHAR (36), [WATER_PRICE] MONEY, [WATERT_NO] VARCHAR(36), [WATERM_STAT] VARCHAR(36), [METERC_CALIBRE] VARCHAR(36), [RECORD_DATE] DATETIME, [USERB_ADDR] VARCHAR(500), [USERB_DH] VARCHAR(36), [USERB_MT] VARCHAR(36), [USERB_BTBZ] VARCHAR(36), [USERB_AZRQ] DATETIME, [USERB_LHRQ] DATETIME, [SF] MONEY, [FJF] MONEY, [PWF] MONEY, [LJF] MONEY)

--[USERB_KH], [USERB_HM], [DEBTL_YEAR], [DEBTL_MON], [PAY_TAG], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EST_WATER], [WATERP_QAN], [DEBTL_ZNJ], [DEBTL_STOTAL], [PAY_WAY], [WATER_PRICE], [WATERT_NO], [WATERM_STAT], [METERC_CALIBRE], [RECORD_DATE], [USERB_ADDR], [USERB_DH], [USERB_MT], [USERB_BTBZ], [USERB_AZRQ], [USERB_LHRQ], [MONTH], [SF], [FJF], [PWF], [LJF]) 


IF @Q_MODE = 1  
   BEGIN
        INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTOWNHIS WHERE DEBTL_YEAR = @START_DATE AND USERB_KH = @UB_KH;
        SET @QUERY_STR = 'INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTHIS'+@START_DATE+' WHERE USERB_KH = '''+@UB_KH+'''';
         EXEC (@QUERY_STR);
           IF YEAR(GETDATE()) = @START_DATE
             BEGIN
                 INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTLIST WHERE  USERB_KH = @UB_KH;
              END
       
         UPDATE #TEMP_ALL SET PAY_TAG = '已销帐' WHERE PAY_TAG = '2';
         UPDATE #TEMP_ALL SET PAY_TAG = '未销帐' WHERE PAY_TAG = '0';
         UPDATE #TEMP_ALL SET PAY_WAY = T2.DATADIC_NAME FROM #TEMP_ALL T1,FH_DATADIC T2 WHERE T1.PAY_WAY = T2.DATADIC_VALUE;
         UPDATE #TEMP_ALL SET WATERT_NO = T2.WATERT_NAME,USERB_ADDR = T3.USERB_ADDR,USERB_DH = T3.USERB_DH,USERB_MT = T3.USERB_MT,USERB_BTBZ = T3.USERB_BTBZ,USERB_AZRQ = T3.USERB_AZRQ,USERB_LHRQ = T3.USERB_LHRQ FROM #TEMP_ALL T1,FH_WATERTYPE T2,FH_USERBASE T3 WHERE t1.USERB_KH = t3.USERB_KH and T3.USERB_YHLX = T2.WATERT_NO;
         UPDATE #TEMP_ALL SET SF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '01';
         UPDATE #TEMP_ALL SET FJF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '06';
         UPDATE #TEMP_ALL SET PWF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '02';
         UPDATE #TEMP_ALL SET LJF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '03';
   
   END

IF @Q_MODE = 2  
   BEGIN
        SET @QUERY_STR = 'INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTOWNHIS WHERE USERB_KH = '''+@UB_KH+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= '''+@START_DATE+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) <= '''+@END_DATE+'''';
        EXEC (@QUERY_STR);
        SET @QUERY_STR = 'INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTLIST WHERE USERB_KH = '''+@UB_KH+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= '''+@START_DATE+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) <= '''+@END_DATE+'''';
        EXEC (@QUERY_STR);

        SET @Y_INT = CAST(LEFT(@START_DATE,4) AS INT)
           WHILE @Y_INT <= YEAR(@END_DATE)
              BEGIN
                  SET @QUERY_STR ='INSERT INTO #TEMP_ALL(DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE) SELECT DEBTLIST_ID,USERB_KH,USERB_HM,DEBTL_YEAR,DEBTL_MON,PAY_TAG, USERB_SQDS,USERB_BQDS,WATERU_QAN,EST_WATER,WATERP_QAN,DEBTL_ZNJ,DEBTL_STOTAL,PAY_WAY,WATER_PRICE,WATERT_NO,WATERM_STAT,RECORD_DATE FROM FH_DEBTHIS'+CAST(@Y_INT AS VARCHAR)+' WHERE USERB_KH = '''+@UB_KH+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) >= '''+@START_DATE+''' AND CAST(CAST(DEBTL_YEAR AS VARCHAR)+''-''+CAST(DEBTL_MON AS VARCHAR)+''-1'' AS DATETIME) <= '''+@END_DATE+'''';
                  EXEC (@QUERY_STR);
                  SET @Y_INT = @Y_INT + 1;
              END
       
         UPDATE #TEMP_ALL SET PAY_TAG = '已销帐' WHERE PAY_TAG = '2';
         UPDATE #TEMP_ALL SET PAY_TAG = '未销帐' WHERE PAY_TAG = '0';
         UPDATE #TEMP_ALL SET PAY_WAY = T2.DATADIC_NAME FROM #TEMP_ALL T1,FH_DATADIC T2 WHERE T1.PAY_WAY = T2.DATADIC_VALUE;
         UPDATE #TEMP_ALL SET WATERT_NO = T2.WATERT_NAME,USERB_ADDR = T3.USERB_ADDR,USERB_DH = T3.USERB_DH,USERB_MT = T3.USERB_MT,USERB_BTBZ = T3.USERB_BTBZ,USERB_AZRQ = T3.USERB_AZRQ,USERB_LHRQ = T3.USERB_LHRQ FROM #TEMP_ALL T1,FH_WATERTYPE T2,FH_USERBASE T3 WHERE t1.USERB_KH = t3.USERB_KH and T3.USERB_YHLX = T2.WATERT_NO;
         UPDATE #TEMP_ALL SET SF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '01';
         UPDATE #TEMP_ALL SET FJF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '06';
         UPDATE #TEMP_ALL SET PWF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '02';
         UPDATE #TEMP_ALL SET LJF = T2.PAYL_TOTAL FROM #TEMP_ALL T1,FH_PAYLIST T2 WHERE T1.DEBTLIST_ID = T2.DEBTL_ID AND T2.PAYL_NO = '03';
   
   END


SELECT [USERB_KH], [USERB_HM], [DEBTL_YEAR], [DEBTL_MON], [PAY_TAG], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EST_WATER], [WATERP_QAN], [DEBTL_ZNJ], [DEBTL_STOTAL], [PAY_WAY], [WATER_PRICE], [WATERT_NO], [WATERM_STAT], [METERC_CALIBRE], [RECORD_DATE], [USERB_ADDR], [USERB_DH], [USERB_MT], [USERB_BTBZ], [USERB_AZRQ], [USERB_LHRQ], [SF], [FJF], [PWF], [LJF] FROM #TEMP_ALL ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR)+'-1' AS DATETIME);
END
GO
