USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_FLCHARGE_SUM]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FLCHARGE_SUM]
@UB_KH VARCHAR(36),  --卡号
@THIS_M VARCHAR(26)  -- 1：查询当月欠费 2：历史欠费 （不含当月） 3：所有欠费（含当月）
AS
BEGIN
 
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server' 
--  欠费查询过程

IF @THIS_M = '1'
 SELECT T1.USERB_KH,T1.USERB_HM,T2.DEBTL_STOTAL,T2.DEBTL_ZNJ,T2.DEBTL_ATOTAL FROM (
    SELECT USERB_KH,USERB_HM FROM FH_USERBASE  WHERE USERB_KH = @UB_KH )T1 LEFT JOIN (
    SELECT USERB_KH,ISNULL(DEBTL_STOTAL,0) DEBTL_STOTAL,ISNULL(DEBTL_ZNJ,0) DEBTL_ZNJ,ISNULL(DEBTL_STOTAL,0)+ISNULL(DEBTL_ZNJ,0) DEBTL_ATOTAL FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG <> '2') T2 ON T1.USERB_KH=T2.USERB_KH
ELSE IF @THIS_M = '2'
SELECT T1.USERB_KH,T1.USERB_HM,T2.DEBTL_STOTAL,T2.DEBTL_ZNJ,T2.DEBTL_ATOTAL FROM (
    SELECT USERB_KH,USERB_HM FROM FH_USERBASE  WHERE USERB_KH = @UB_KH )T1 LEFT JOIN (
    SELECT @UB_KH USERB_KH,SUM(ISNULL(DEBTL_STOTAL,0)) DEBTL_STOTAL,SUM(DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL))DEBTL_ZNJ,SUM(ISNULL(DEBTL_STOTAL,0))+SUM(DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)) DEBTL_ATOTAL FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG <> '2') T2 ON T1.USERB_KH=T2.USERB_KH
ELSE IF  @THIS_M = '3'
 SELECT T1.USERB_KH,T1.USERB_HM,T2.DEBTL_STOTAL,T2.DEBTL_ZNJ,T2.DEBTL_ATOTAL FROM (
    SELECT USERB_KH,USERB_HM FROM FH_USERBASE  WHERE USERB_KH = @UB_KH )T1 LEFT JOIN (
SELECT @UB_KH USERB_KH,SUM(T.DEBTL_STOTAL)DEBTL_STOTAL,SUM(T.DEBTL_ZNJ) DEBTL_ZNJ,SUM(T.DEBTL_ATOTAL) DEBTL_ATOTAL FROM (
     SELECT ISNULL(DEBTL_STOTAL,0) DEBTL_STOTAL,ISNULL(DEBTL_ZNJ,0) DEBTL_ZNJ,ISNULL(DEBTL_STOTAL,0)+ISNULL(DEBTL_ZNJ,0) DEBTL_ATOTAL FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG <> '2'
     UNION ALL 
     SELECT SUM(ISNULL(DEBTL_STOTAL,0)) DEBTL_STOTAL,SUM(DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL))DEBTL_ZNJ,SUM(ISNULL(DEBTL_STOTAL,0))+SUM(DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)) DEBTL_ATOTAL FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG <> '2')T) T2 ON T1.USERB_KH=T2.USERB_KH

---SELECT @UB_KH


END
GO
