USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIDWARE_FTP]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MIDWARE_FTP] @BK_NO VARCHAR (20),
 @DL_TAG VARCHAR (20) AS
BEGIN
	-- routine body goes here, e.g.
	-- SELECT 'Navicat for SQL Server'
DECLARE @HL FLOAT ; SELECT
	@HL = PEN_RATE
FROM
	FH_PENALTY
WHERE
	PEN_TYPE = 'wyjff01' ;
IF @DL_TAG = '1'
BEGIN
	WITH TEMP_DT AS (
		SELECT
			T.USERB_KH,
			T.DEBTL_YEAR,
			T.DEBTL_MON,
			T.DT,
			T.YN,
			T.DEBTL_ATOTAL,
			row_number () OVER (
				PARTITION BY T.userb_kh
				ORDER BY
					T.dt
			) AS [rn]
		FROM
			(
				SELECT
					USERB_KH,
					DEBTL_YEAR,
					DEBTL_MON,
					CAST (
						CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
					) DT,
					CAST (DEBTL_YEAR AS VARCHAR) + CASE
				WHEN DEBTL_MON < 10 THEN
					'0' + CAST (DEBTL_MON AS VARCHAR)
				ELSE
					CAST (DEBTL_MON AS VARCHAR)
				END YN,
        DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)+DEBTL_ATOTAL DEBTL_ATOTAL
			FROM
				FH_DEBTOWNHIS
			WHERE
				PAY_TAG = '0'
        and 
        (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
			AND USERB_KH IN (
				SELECT
					USERB_KH
				FROM
					FH_USERBASE
				WHERE
					USERB_YHDM = @BK_NO
			)
			UNION ALL
				SELECT
					USERB_KH,
					DEBTL_YEAR,
					DEBTL_MON,
					CAST (
						CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
					) DT,
					CAST (DEBTL_YEAR AS VARCHAR) + CASE
				WHEN DEBTL_MON < 10 THEN
					'0' + CAST (DEBTL_MON AS VARCHAR)
				ELSE
					CAST (DEBTL_MON AS VARCHAR)
				END YN,
				DEBTL_ATOTAL
			FROM
				FH_DEBTLIST
			WHERE
				PAY_TAG = '0'
        and (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
			AND USERB_KH IN (
				SELECT
					USERB_KH
				FROM
					FH_USERBASE
				WHERE
					USERB_YHDM = @BK_NO
			)
			) T
	) UPDATE FH_DEBTOWNHIS
SET BANK_DEALTAG = '4'
FROM
	FH_DEBTOWNHIS A,
	(
		SELECT
			USERB_KH,
			DEBTL_YEAR,
			DEBTL_MON
		FROM
			TEMP_DT
		WHERE
			RN = 1
	) B
WHERE
	A.USERB_KH = B.USERB_KH
AND A.DEBTL_YEAR = B.DEBTL_YEAR
AND A.DEBTL_MON = B.DEBTL_MON ; 
WITH TEMP_DT AS (
	SELECT
		T.USERB_KH,
		T.DEBTL_YEAR,
		T.DEBTL_MON,
		T.DT,
		T.YN,
		T.DEBTL_ATOTAL,
		row_number () OVER (
			PARTITION BY T.userb_kh
			ORDER BY
				T.dt
		) AS [rn]
	FROM
		(
			SELECT
				USERB_KH,
				DEBTL_YEAR,
				DEBTL_MON,
				CAST (
					CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
				) DT,
				CAST (DEBTL_YEAR AS VARCHAR) + CASE
			WHEN DEBTL_MON < 10 THEN
				'0' + CAST (DEBTL_MON AS VARCHAR)
			ELSE
				CAST (DEBTL_MON AS VARCHAR)
			END YN,
			 DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)+DEBTL_ATOTAL DEBTL_ATOTAL
		FROM
			FH_DEBTOWNHIS
		WHERE
			PAY_TAG = '0'
      and (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
		AND USERB_KH IN (
			SELECT
				USERB_KH
			FROM
				FH_USERBASE
			WHERE
				USERB_YHDM = @BK_NO
		)
		UNION ALL
			SELECT
				USERB_KH,
				DEBTL_YEAR,
				DEBTL_MON,
				CAST (
					CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
				) DT,
				CAST (DEBTL_YEAR AS VARCHAR) + CASE
			WHEN DEBTL_MON < 10 THEN
				'0' + CAST (DEBTL_MON AS VARCHAR)
			ELSE
				CAST (DEBTL_MON AS VARCHAR)
			END YN,
			DEBTL_ATOTAL
		FROM
			FH_DEBTLIST
		WHERE
			PAY_TAG = '0'
    and (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
		AND USERB_KH IN (
			SELECT
				USERB_KH
			FROM
				FH_USERBASE
			WHERE
				USERB_YHDM = @BK_NO
		)
		) T
) UPDATE FH_DEBTLIST
SET BANK_DEALTAG = '4'
FROM
	FH_DEBTLIST A,
	(
		SELECT
			USERB_KH,
			DEBTL_YEAR,
			DEBTL_MON
		FROM
			TEMP_DT
		WHERE
			RN = 1
	) B
WHERE
	A.USERB_KH = B.USERB_KH
AND A.DEBTL_YEAR = B.DEBTL_YEAR
AND A.DEBTL_MON = B.DEBTL_MON ; WITH TEMP_DT AS (
	SELECT
		T.USERB_KH,
		T.DT,
		T.YN,
		T.DEBTL_ATOTAL,
		row_number () OVER (
			PARTITION BY T.userb_kh
			ORDER BY
				T.dt
		) AS [rn]
	FROM
		(
			SELECT
				USERB_KH,
				CAST (
					CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
				) DT,
				CAST (DEBTL_YEAR AS VARCHAR) + CASE
			WHEN DEBTL_MON < 10 THEN
				'0' + CAST (DEBTL_MON AS VARCHAR)
			ELSE
				CAST (DEBTL_MON AS VARCHAR)
			END YN,
			 DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)+DEBTL_ATOTAL DEBTL_ATOTAL
		FROM
			FH_DEBTOWNHIS
		WHERE
			PAY_TAG = '0'
       and (BANK_DEALTAG='4')
		AND USERB_KH IN (
			SELECT
				USERB_KH
			FROM
				FH_USERBASE
			WHERE
				USERB_YHDM = @BK_NO
		)
		UNION ALL
			SELECT
				USERB_KH,
				CAST (
					CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
				) DT,
				CAST (DEBTL_YEAR AS VARCHAR) + CASE
			WHEN DEBTL_MON < 10 THEN
				'0' + CAST (DEBTL_MON AS VARCHAR)
			ELSE
				CAST (DEBTL_MON AS VARCHAR)
			END YN,
			DEBTL_ATOTAL
		FROM
			FH_DEBTLIST
		WHERE
			PAY_TAG = '0'
      and  ( BANK_DEALTAG='4')
		AND USERB_KH IN (
			SELECT
				USERB_KH
			FROM
				FH_USERBASE
			WHERE
				USERB_YHDM = @BK_NO
		)
		) T
) SELECT
	USERB_KH,
	YN,
  Convert(decimal(18,2),DEBTL_ATOTAL) DEBTL_ATOTAL
FROM
	TEMP_DT
WHERE
	RN = 1
END
IF @DL_TAG = '0'
BEGIN
	WITH TEMP_DT AS (
		SELECT
			T.USERB_KH,
			T.DT,
			T.YN,
			T.DEBTL_ATOTAL,
			row_number () OVER (
				PARTITION BY T.userb_kh
				ORDER BY
					T.dt
			) AS [rn]
		FROM
			(
				SELECT
					USERB_KH,
					CAST (
						CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
					) DT,
					CAST (DEBTL_YEAR AS VARCHAR) + CASE
				WHEN DEBTL_MON < 10 THEN
					'0' + CAST (DEBTL_MON AS VARCHAR)
				ELSE
					CAST (DEBTL_MON AS VARCHAR)
				END YN,
				 DBO.FUNC_CALC_ZNJ(DEBTL_YEAR, DEBTL_MON, DEBTL_ATOTAL, NULL)+DEBTL_ATOTAL DEBTL_ATOTAL
			FROM
				FH_DEBTOWNHIS
			WHERE
				PAY_TAG = '0'
        and  (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
			AND USERB_KH IN (
				SELECT
					USERB_KH
				FROM
					FH_USERBASE
				WHERE
					USERB_YHDM = @BK_NO
			)
			UNION ALL
				SELECT
					USERB_KH,
					CAST (
						CAST (DEBTL_YEAR AS VARCHAR) + '-' + CAST (DEBTL_MON AS VARCHAR) + '-01' AS DATE
					) DT,
					CAST (DEBTL_YEAR AS VARCHAR) + CASE
				WHEN DEBTL_MON < 10 THEN
					'0' + CAST (DEBTL_MON AS VARCHAR)
				ELSE
					CAST (DEBTL_MON AS VARCHAR)
				END YN,
				DEBTL_ATOTAL
			FROM
				FH_DEBTLIST
			WHERE
				PAY_TAG = '0'
        and  (BANK_DEALTAG is null or BANK_DEALTAG<>'4')
			AND USERB_KH IN (
				SELECT
					USERB_KH
				FROM
					FH_USERBASE
				WHERE
					USERB_YHDM = @BK_NO
			)
			) T
	) SELECT
		USERB_KH,
		YN,
		Convert(decimal(18,2),DEBTL_ATOTAL) DEBTL_ATOTAL
	FROM
		TEMP_DT
	WHERE
		RN = 1
	END
	END
GO
