USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_MONTH_SFMX_TEST]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MONTH_SFMX_TEST]
@START_DATE VARCHAR(20), -- '2016-05'
@SFFS VARCHAR(20),  -- 收费方式：下拉选择：托收（传值ts）、现金（传值xj）、全部（传值qb）,默认是全部
@SFZT VARCHAR(20),  -- 【按价类统计】应收（传值qb）、实收（传值ss）、未收（传值ws）
@AREA_SUPERNO VARCHAR(50), -- 如果傳('JL'),按價類統計，如果傳'ALL'按刪號全部統計，传片区号，就按册号统计
@AREA_NO VARCHAR(50) --  如果为空,按价类统计，下级片区号
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
DECLARE @QUERY_STR VARCHAR(4000)
DECLARE @Y_INT INT
DECLARE @M_INT INT
DECLARE @HS_INT INT  -- 总户数
DECLARE @SCS_INT  INT  --总实抄数
DECLARE @SL_INT INT  -- 总水量
DECLARE @ST_TOTAL MONEY-- 总金额
DECLARE @WHERE_CONDITION VARCHAR(MAX)
DECLARE @INSERT_SQL VARCHAR(MAX)
--DECIMAL @QUERY_SQL VARCHAR(MAX) --基本插入操作语句
--DECLARE @QUERY_CURR_BY_PRICE VARCHAR(MAX)--当前月按价类，所有
--DECLARE @QUERY_HIS_BY_PRICE VARCHAR(MAX) --非当前月按价类，所有，1
--DECLARE  @QUERY_STRQJL  VARCHAR(500) --非当前月按价类，所有，2
--DECLARE @QUERY_CURR_BY_AREA VARCHAR(MAX) --当前月按区域，所有
--DECLARE @QUERY_HIS_BY_AREA VARCHAR(MAX) --非当前月按区域，所有，1
--DECLARE  @QUERY_STRQSU  VARCHAR(500) --非当前月按区域，所有，2
--DECLARE @QUERY_CURR_BY_ZONE VARCHAR(MAX) --当前月按片区，所有
--DECLARE @QUERY_CURR_BY_ZONE VARCHAR(MAX) --非当前月片区，所有，1
--DECLARE  @QUERY_STRQAU  VARCHAR(500)--非当前月片区，所有，2

SET @Y_INT = CAST(LEFT(@START_DATE,4) AS INT);
SET @M_INT = CAST(RIGHT(@START_DATE,2) AS INT);
---------------------------构造基础数据-----------------------------------------
IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#temp_jlb')
          DROP TABLE #temp_jlb;
  
 CREATE TABLE #temp_jlb (USERB_KH VARCHAR(36),AREA_NO VARCHAR(36),VOLUME_NO VARCHAR(20),WATERU_YEAR INT,WATERU_MONTH INT,USERB_LHRQ DATETIME,WATERM_STAT VARCHAR(20),USERB_YHLX VARCHAR(20),CHANGE_QAN INT,WATERP_QAN INT,PAY_TAG VARCHAR(20),DEBTL_STOTAL MONEY,USERB_SFFS VARCHAR(20));

 SET @INSERT_SQL = ' INSERT INTO #TEMP_jlb (' + 
		' DEBTL_STOTAL, PAY_TAG, USERB_KH, AREA_NO, VOLUME_NO, WATERU_YEAR, WATERU_MONTH, ' +
		'	WATERP_QAN,	WATERM_STAT,	CHANGE_QAN,	USERB_SFFS,	USERB_YHLX, USERB_LHRQ) ' +
		'SELECT '+
		' A.DEBTL_STOTAL, A.PAY_TAG, A.USERB_KH, A.CHANGE_RATETAG, A.VOLUME_NO, A.DEBTL_YEAR, A.DEBTL_MON, '+
		' A.WATERP_QAN, A.WATERM_STAT, A.WATERS_QAN, A.IS_EXCPAY, A.WATERT_NO, B.USERB_LHRQ '
		;
		--'FROM FH_USERBASE B, FH_DEBTLIST ' +
		--'WHERE B.IS_ENABLED = '1' AND B.USERB_KH = A.USERB_KH '; 
/* 条件判断 */
 SET @WHERE_CONDITION = '';
 IF @SFFS = 'ts'
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.USERB_SFFS = ''sffs01''';
	 END
ELSE IF @SFFS = 'xj'
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.USERB_SFFS = ''sffs04''';
	 END

IF @SFZT = 'ss'
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.PAY_TAG = ''2''';
	 END
ELSE IF @SFZT = 'ws'
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.PAY_TAG <> ''2''';
	 END

IF LEN(@AREA_SUPERNO) =  5 AND @AREA_NO IS NULL
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.CHANGE_RATETAG IN (SELECT ORG_NO FROM FH_ORG WHERE ORG_SUPER_NO = '''+@AREA_SUPERNO+''')';
	 END
IF @AREA_NO IS NOT NULL
	 BEGIN
				SET @WHERE_CONDITION += ' AND A.CHANGE_RATETAG = '''+@AREA_NO+'''';
	 END
/* 条件判断end */

 IF (@Y_INT = YEAR(GETDATE()) AND @M_INT = MONTH(GETDATE())) 
  BEGIN
		--IF (@AREA_SUPERNO='JL' OR @AREA_SUPERNO='ALL') 
		--	BEGIN
			 SET @INSERT_SQL += ' FROM FH_USERBASE B, FH_DEBTLIST A ' +
						' WHERE B.USERB_KH = A.USERB_KH ' +
						@WHERE_CONDITION;

		--	END
		--ELSE IF (LEN(@AREA_SUPERNO) =  5  AND @AREA_NO IS NULL)  
		--	BEGIN
				
		--	END
    -- EXEC(@INSERT_SQL);
					 
  END
 ELSE
	BEGIN
		SET @INSERT_SQL += ' FROM FH_USERBASE B , ' +
						'( SELECT 
						  	DEBTL_STOTAL, PAY_TAG, USERB_KH, CHANGE_RATETAG, VOLUME_NO, DEBTL_YEAR, 
						  	DEBTL_MON, WATERP_QAN, WATERM_STAT, WATERS_QAN, IS_EXCPAY, WATERT_NO
						  FROM FH_DEBTHIS' + LEFT(@START_DATE,4) +
						' WHERE DEBTL_YEAR = ' + CAST(@Y_INT AS VARCHAR) + 
						' 		AND DEBTL_MON = ' + CAST(@M_INT AS VARCHAR) +
						 REPLACE(@WHERE_CONDITION, 'A.', '') +
						 ' UNION ALL 
						   SELECT 
						  		DEBTL_STOTAL, PAY_TAG, USERB_KH, CHANGE_RATETAG, VOLUME_NO, DEBTL_YEAR,
									DEBTL_MON, WATERP_QAN, WATERM_STAT, WATERS_QAN, IS_EXCPAY, WATERT_NO 
						   FROM FH_DEBTOWNHIS ' +
						 ' WHERE DEBTL_YEAR = ' + CAST(@Y_INT AS VARCHAR) + 
						 ' 		AND DEBTL_MON = ' + CAST(@M_INT AS VARCHAR) + 
						 REPLACE(@WHERE_CONDITION, 'A.', '') +
						'	) A' +
						' WHERE B.USERB_KH = A.USERB_KH ';
	 END

  EXEC(@INSERT_SQL);
----------------------------------------------------
------------------输出结果--------------------------
-- SELECT * FROM #TEMP_JLB WHERE PAY_TAG IS NULL


---------------------------输出结果--------------------------
IF @AREA_SUPERNO = 'JL' 
  BEGIN
      SELECT @HS_INT = COUNT(*),@SL_INT = SUM(WATERP_QAN),@ST_TOTAL = SUM(DEBTL_STOTAL) FROM #TEMP_jlb;
      SELECT @SCS_INT = COUNT(*) FROM #TEMP_jlb WHERE WATERM_STAT in ('sbbk26','sbbk27','sbbk28','sbbk25');
      SELECT 
      T5.WATERT_NO,
      t5.WATERT_NAME,
      t1.ZKHS,
      ISNULL(T2.SCHS,0) SCHS,
      ISNULL(cast((ROUND(CAST(T2.SCHS AS FLOAT)/CAST(CASE WHEN @SCS_INT = 0 THEN NULL ELSE @SCS_INT END AS FLOAT)*100,2)) as DECIMAL(38, 2)),0) RATE,
      ISNULL(cast((ROUND(CAST(T2.SCHS AS FLOAT)/CAST(CASE WHEN t1.ZKHS = 0 THEN NULL ELSE t1.ZKHS END AS FLOAT),4)*100) as DECIMAL(38, 2)),0) SSL,
      ISNULL(T3.YSL,0) YSL,
      ISNULL(cast((ROUND(CAST(t3.YSL AS FLOAT)/CAST(CASE WHEN @SL_INT = 0 THEN NULL ELSE @SL_INT END AS FLOAT)*100,2)) as DECIMAL(38, 2)),0) GL,
      ISNULL(T4.ZFY,0) ZFY,
      ISNULL(cast((ROUND(t4.ZFY/(CASE WHEN @ST_TOTAL = 0 THEN NULL ELSE @ST_TOTAL END)*100,2)) as DECIMAL(38, 2)),0)  FYL 
      FROM 
       (SELECT USERB_YHLX,COUNT(*) ZKHS FROM FH_USERBASE GROUP BY USERB_YHLX) T1 LEFT JOIN 
       (SELECT USERB_YHLX,COUNT(*) SCHS FROM #TEMP_jlb WHERE WATERM_STAT in ('sbbk26','sbbk27','sbbk28','sbbk25') GROUP BY USERB_YHLX)T2 ON t1.USERB_YHLX = T2.USERB_YHLX LEFT JOIN
       (SELECT USERB_YHLX,SUM(WATERP_QAN) YSL FROM #TEMP_jlb  GROUP BY USERB_YHLX)T3 ON t1.USERB_YHLX = T3.USERB_YHLX LEFT JOIN
       (SELECT USERB_YHLX,SUM(DEBTL_STOTAL) ZFY FROM #TEMP_jlb  GROUP BY USERB_YHLX)T4 ON t1.USERB_YHLX = T4.USERB_YHLX  LEFT JOIN
        (SELECT WATERT_NO,WATERT_NAME FROM FH_WATERTYPE)T5 ON t1.USERB_YHLX = T5.WATERT_NO
      UNION ALL SELECT '9999','合计',@HS_INT,@SCS_INT,0.0,
      ISNULL(cast((ROUND(cast(@SCS_INT as float)/cast(CASE WHEN @HS_INT = 0 THEN NULL ELSE @HS_INT END as float),4)*100) as DECIMAL(38, 2)),0),
      ISNULL(@SL_INT,0),0.0,ISNULL(@ST_TOTAL,0),0.0 ORDER BY WATERT_NO
  
    
  END
-----------------------------------按册号统计---------------------
ELSE 
  BEGIN
  --DELETE FROM #TEMP_jlb where AREA_NO <> @AREA_NO;
  --DELETE FROM #TEMP_jlb WHERE USER_ID IS NULL;

    SELECT t1.VOLUME_NO,ISNULL(t1.XLHS,0)XLHS ,ISNULL(T2.SCHS,0)SCHS,ISNULL(T3.GCHS,0)GCHS,ISNULL(T4.HBHS,0) HBHS,ISNULL(T5.MSHS,0)MSHS,ISNULL(T6.XZHS,0)XZHS,ISNULL(T8.YSSL,0)YSSL,ISNULL(T7.JFSL,0)JFSL,CAST(CAST(T2.SCHS AS FLOAT)/CAST(CASE WHEN t1.XLHS = 0 THEN NULL ELSE t1.XLHS END AS FLOAT)*100 AS DECIMAL(10,2)) SCL,ISNULL(CAST(CAST(T8.YSSL AS FLOAT)/CAST(T7.JFSL AS FLOAT)*100 AS DECIMAL(10,2)),0) SSL FROM (
select VOLUME_NO,COUNT(*) XLHS FROM #TEMP_JLB GROUP BY VOLUME_NO ) T1
LEFT JOIN 
(select VOLUME_NO,COUNT(*) SCHS FROM #TEMP_jlb WHERE WATERM_STAT in ('sbbk26','sbbk27','sbbk28','sbbk25')  GROUP BY VOLUME_NO) T2 ON T1.VOLUME_NO = T2.VOLUME_NO
LEFT JOIN 
(select VOLUME_NO,COUNT(*) GCHS FROM #TEMP_jlb WHERE WATERM_STAT NOT in ('sbbk26','sbbk27','sbbk28','sbbk25')  GROUP BY VOLUME_NO) T3 ON T1.VOLUME_NO = T3.VOLUME_NO
LEFT JOIN 
(select VOLUME_NO,COUNT(*) HBHS FROM #TEMP_jlb WHERE change_qan <> 0  GROUP BY VOLUME_NO) T4 ON T1.VOLUME_NO = T4.VOLUME_NO
LEFT JOIN 
(select VOLUME_NO,COUNT(*) MSHS FROM #TEMP_jlb WHERE waterp_QAN = 0  GROUP BY VOLUME_NO) T5 ON T1.VOLUME_NO = T5.VOLUME_NO
LEFT JOIN 
(select VOLUME_NO,COUNT(*) XZHS FROM #TEMP_jlb WHERE YEAR(USERB_LHRQ)= CAST(LEFT(@START_DATE,4) AS INT) AND MONTH(USERB_LHRQ) = CAST(RIGHT(@START_DATE,2) AS INT)  GROUP BY VOLUME_NO) T6 ON T1.VOLUME_NO = T6.VOLUME_NO
LEFT JOIN  
(select VOLUME_NO,SUM(waterp_QAN) JFSL FROM #TEMP_jlb GROUP BY VOLUME_NO) T7 ON T1.VOLUME_NO = T7.VOLUME_NO
LEFT JOIN 
(select VOLUME_NO,sum(WATERP_QAN) YSSL FROM #TEMP_jlb WHERE PAY_TAG = '2' GROUP BY VOLUME_NO) T8 ON T1.VOLUME_NO = T8.VOLUME_NO
UNION ALL 
SELECT '合计',
(select COUNT(*) FROM #TEMP_jlb) XLHS,
(select COUNT(*) FROM #TEMP_jlb WHERE WATERM_STAT in ('sbbk26','sbbk27','sbbk28','sbbk25'))SCHS,
(select COUNT(*)  FROM #TEMP_jlb WHERE WATERM_STAT NOT in ('sbbk26','sbbk27','sbbk28','sbbk25'))GCHS,
(select COUNT(*)  FROM #TEMP_jlb WHERE change_qan <> 0)HBHS,
(select COUNT(*)  FROM #TEMP_jlb WHERE waterp_QAN = 0)MSHS,
(select COUNT(*)  FROM #TEMP_jlb WHERE YEAR(USERB_LHRQ)= CAST(LEFT(@START_DATE,4) AS INT) AND MONTH(USERB_LHRQ) = CAST(RIGHT(@START_DATE,2) AS INT))XZHS,
(select sum(WATERP_QAN) FROM #TEMP_jlb WHERE PAY_TAG = '2')YSSL,
(select SUM(WATERP_QAN) FROM #TEMP_jlb)JFSL,
cast(cast((select COUNT(*) FROM #TEMP_jlb WHERE WATERM_STAT in ('sbbk26','sbbk27','sbbk28','sbbk25')) as float)/cast((select CASE WHEN COUNT(*) = 0 THEN NULL ELSE COUNT(*) END FROM FH_USERBASE WHERE VOLUME_NO IN (SELECT DISTINCT(VOLUME_NO)  FROM #TEMP_jlb)) as float)*100 as decimal(10,2)),
cast(cast((select sum(WATERP_QAN)  FROM #TEMP_jlb WHERE PAY_TAG = '2') as float)/cast((select CASE WHEN SUM(waterp_QAN) = 0 THEN NULL ELSE SUM(waterp_QAN) END FROM #TEMP_jlb) as float)*100 as DECIMAL(10,2))
order by t1.volume_No
-- select * from #TEMP_jlb WHERE USER_ID = @cby_id
  END

--SELECT * FROM #TEMP_JLB;

END
GO
