USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_ZNJ]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ZNJ]
@PARA_KH VARCHAR(36),@PARA_SH VARCHAR(2)
AS
DECLARE @PT VARCHAR(20),@HL FLOAT
BEGIN

SELECT @PT = PEN_TYPE FROM FH_PENALTY;
SELECT @HL = PEN_RATE FROM FH_PENALTY;

 IF @PT = 'wyjff01' 
    IF @PARA_SH = '1'
BEGIN
select USERB_KH,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,RECORD_DATE,DEBTL_ATOTAL,0 YQTS,0.00 YSWYS,0 JMWYS,0 SSWYJ,DEBTL_ATOTAL HJ from fh_debtlist where userb_kh = @PARA_KH and PAY_TAG != '2'
 union all 
select t1.USERB_KH,t1.VOLUME_NO,t1.DEBTL_YEAR,t1.DEBTL_MON,t1.USERB_SQDS,t1.USERB_BQDS,t1.RECORD_DATE,t1.DEBTL_ATOTAL,t2.YQTS,round(t1.DEBTL_ATOTAL*t2.YQTS*@HL,2) YSWYS,0 JMWYS,0 SSWYJ,round(t1.DEBTL_ATOTAL*t2.YQTS*@HL,2)+t1.DEBTL_ATOTAL HJ from FH_DEBTOWNHIS T1,
(select DEBTLIST_id,DATEDIFF(day,dateadd(month,1,CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST((DEBTL_MON) AS VARCHAR)+'-1'),GETDATE()) YQTS from fh_debtOWNHIS where userb_kh = @PARA_KH and PAY_TAG != '2')t2
 where t1.userb_kh = @PARA_KH and t1.PAY_TAG != '2' and t1.DEBTLIST_id = T2.debtlist_id
END
   ELSE
    BEGIN
   SELECT SUM(t.HJ) HJ FROM (
select USERB_KH,VOLUME_NO,DEBTL_YEAR,DEBTL_MON,USERB_SQDS,USERB_BQDS,RECORD_DATE,DEBTL_ATOTAL,0 YQTS,0.00 YSWYS,0 JMWYS,0 SSWYJ,DEBTL_ATOTAL HJ from fh_debtlist where userb_kh = @PARA_KH and PAY_TAG != '2'
 union all 
select t1.USERB_KH,t1.VOLUME_NO,t1.DEBTL_YEAR,t1.DEBTL_MON,t1.USERB_SQDS,t1.USERB_BQDS,t1.RECORD_DATE,t1.DEBTL_ATOTAL,t2.YQTS,round(t1.DEBTL_ATOTAL*t2.YQTS*@HL,2) YSWYS,0 JMWYS,0 SSWYJ,round(t1.DEBTL_ATOTAL*t2.YQTS*@HL,2)+t1.DEBTL_ATOTAL HJ from FH_DEBTOWNHIS T1,
(select debtlist_id,DATEDIFF(day,dateadd(month,1,CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST((DEBTL_MON) AS VARCHAR)+'-1'),GETDATE()) YQTS from fh_debtOWNHIS where userb_kh = @PARA_KH and PAY_TAG != '2')t2
 where t1.userb_kh = @PARA_KH and t1.PAY_TAG != '2' and t1.debtlist_id = T2.debtlist_id) T
END

IF @PT = 'wyjff02' 
BEGIN
SELECT @PARA_KH;
END


  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
END
GO
