USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_CLEARLIB]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLEARLIB]
AS
BEGIN
  -- routine body goes here, e.g.
               /*Author JiuPing Lee */
  -- SELECT 'Navicat for SQL Server'
INSERT INTO [FH_DEBTHIS2016] ([DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY]) 
SELECT [DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY] FROM  FH_DEBTLIST WHERE PAY_TAG = '2';
DELETE FROM FH_DEBTLIST WHERE PAY_TAG = '2';
----------------------------------------------
INSERT INTO [FH_DEBTHIS2016] ([DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY]) 
SELECT [DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY] FROM  FH_DEBTOWNHIS WHERE PAY_TAG = '2';
DELETE FROM FH_DEBTOWNHIS WHERE PAY_TAG = '2';
----------------------------------------------
INSERT INTO [FH_DEBTOWNHIS] ([DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY]) 
SELECT [DEBTLIST_ID], [USERB_KH], [DEBTL_YEAR], [DEBTL_MON], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [WATERC_QAN], [WATERS_QAN], [WATERQ_QAN], [WATERB_QAN], [WATERP_QAN], [WATERM_STAT], [DEBTL_ZNJ], [DEBTL_ATOTAL], [DEBTL_CPLUS], [IS_PAY], [DEBTL_STOTAL], [CMETER_DATE], [RECORD_DATE], [PAY_TAG], [PAY_DATE], [PAY_WAY], [CHANGE_RATE], [CHANGE_RATETAG], [MONTH_TSPAY], [RECORD_USER], [LAST_TSVIOTOTAL], [IS_EXCPAY], [USERB_YHDM], [BANK_NUMBER], [BANK_TABNO], [BANK_PAYDATE], [BANK_PAYQAN], [BANK_DEALTAG], [BANK_REMARK], [WATERT_NO], [WATER_PRICE], [WATER_EXCPRICE], [METER_CHTAG], [MIXED_USEDTAG], [EST_WATER], [ROLLBACK_TAG], [FREEPULL_TAG], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [DERATE_QAN], [ADD_QAN], [VOLUME_NO], [USERB_HM], [BANK_FLOWNO], [IS_CBWAY] FROM  FH_DEBTLIST WHERE PAY_TAG IN ('0','3');
DELETE FROM FH_DEBTLIST WHERE PAY_TAG IN ('0','3');
----------------------------------------------
UPDATE FH_USERBASE  SET USERB_SQDS = B.[USERB_SQDS], USERB_BQDS = B.[USERB_BQDS] FROM FH_USERBASE A,FH_WATERUSED B WHERE A.USERB_KH = B.USERB_KH;
INSERT INTO [FH_WATERUSEDHIS] ([WATERUSEDHIS_ID], [VOLUME_NO], [USERB_KH], [HIS_MONTH], [HIS_YEAR], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EXC_STATUS], [RECORDER], [CAL_STATUS], [CAL_USERID], [THREEMON_AVG], [LAST_QAN], [LASTYEAR_QAN], [EXC_VALUE], [WARN_MIN], [WARN_MAX], [RECORD_STATUS], [USERB_HM], [USERB_YHLX], [CHANGE_QAN], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [IS_CALC], [AREA_NO], [LASTTHREE_FLOAT], [LAST_FLOAT], [LASTYEAR_FLOAT], [CAL_DATE], [WATERU_YEAR], [WATERU_MONTH], [DERATE_QAN], [ADD_QAN], [COUNT_QAN], [WATER_BK], [IS_DONE], [IS_FH], [IS_CBWAY]) 
                                     SELECT [WATERUSED_ID], [VOLUME_NO], [USERB_KH], [WATERU_MONTH], [WATERU_YEAR], [USERB_SQDS], [USERB_BQDS], [WATERU_QAN], [EXC_STATUS], [RECORDER], [CAL_STATUS], [CAL_USERID], [THREEMON_AVG], [LAST_QAN], [LASTYEAR_QAN], [EXC_VALUE], [WARN_MIN], [WARN_MAX], [RECORD_STATUS], [USERB_HM], [USERB_YHLX], [CHANGE_QAN], [CREATE_PERSON], [CREATE_DATE], [UPDATE_PERSON], [UPDATE_DATE], [IS_CALC], [AREA_NO], [LASTTHREE_FLOAT], [LAST_FLOAT], [LASTYEAR_FLOAT], [CAL_DATE], [WATERU_YEAR], [WATERU_MONTH], [DERATE_QAN], [ADD_QAN], [COUNT_QAN], [WATER_BK], [IS_DONE], [IS_FH], [IS_CBWAY] FROM FH_WATERUSED;
TRUNCATE TABLE FH_WATERUSED;

END
GO
