USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_BANK_CHARGE_QUERY]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BANK_CHARGE_QUERY]
@UB_KH VARCHAR(20)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
  -- powered by ljp 
DECLARE @STOTAL MONEY;
DECLARE @SYE MONEY;


SET @SYE = 0.0;

IF NOT EXISTS (
SELECT USERB_KH,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) DEBTL_ATOTAL,dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL)DEBTL_ZNJ,DEBTL_YEAR,DEBTL_MON,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) DT FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' UNION ALL 
SELECT USERB_KH,DEBTL_ATOTAL,0.0,DEBTL_YEAR,DEBTL_MON,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) DT FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' ) --ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME)
   BEGIN   
   SELECT 2 RN;
   RETURN
    END

SELECT  @STOTAL = SUM(T.DEBTL_ATOTAL) FROM (
SELECT USERB_KH,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) DEBTL_ATOTAL,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' UNION ALL 
SELECT USERB_KH,DEBTL_ATOTAL,DEBTL_YEAR,DEBTL_MON FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0')T;
SELECT @SYE = ISNULL(CX_YE,0.0) FROM FH_CX WHERE USERB_KH = @UB_KH;

IF @SYE >= @STOTAL 
   BEGIN   
   SELECT 2 RN;
   RETURN
    END

IF EXISTS (
 SELECT 1 FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' AND BANK_DEALTAG = '4' UNION ALL SELECT 1 FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' AND BANK_DEALTAG = '4' ) --ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME)
   BEGIN   
   SELECT 1 RN;
   RETURN
    END

IF  EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME='#TEMP_BANK_QC')
 DROP TABLE #TEMP_BANK_QC;


SELECT USERB_KH,DEBTL_ATOTAL+dbo.FUNC_CALC_ZNJ(DEBTL_YEAR,DEBTL_MON,DEBTL_ATOTAL,NULL) DEBTL_ATOTAL,CAST(DEBTL_YEAR AS VARCHAR)+ case when DEBTL_MON < 10 then '0'+CAST(DEBTL_mon  AS VARCHAR) else CAST(DEBTL_mon  AS VARCHAR) end YM,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) dt INTO #TEMP_BANK_QC FROM FH_DEBTOWNHIS WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' UNION ALL 
SELECT USERB_KH,DEBTL_ATOTAL,CAST(DEBTL_YEAR AS VARCHAR)+ case when DEBTL_MON < 10 then '0'+CAST(DEBTL_mon  AS VARCHAR) else CAST(DEBTL_mon  AS VARCHAR) end,CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME) FROM FH_DEBTLIST WHERE USERB_KH = @UB_KH AND PAY_TAG = '0' ORDER BY CAST(CAST(DEBTL_YEAR AS VARCHAR)+'-'+CAST(DEBTL_MON AS VARCHAR) + '-1' AS DATETIME);

----轮巡
DECLARE DB_CUR CURSOR FOR SELECT DEBTL_ATOTAL,YM FROM #TEMP_BANK_QC;
DECLARE @DB_ATOTAL MONEY;
DEclARE @YM_TIME VARCHAR(20);
OPEN DB_CUR;
FETCH NEXT FROM DB_CUR INTO @DB_ATOTAL,@YM_TIME;
While(@@Fetch_Status = 0)
Begin
    IF @SYE >= @DB_ATOTAL 
      BEGIN
        UPDATE  #TEMP_BANK_QC SET DEBTL_ATOTAL = 0.0 WHERE YM = @YM_TIME;
        SET @SYE = @SYE-@DB_ATOTAL;
      END  
      ELSE 
        BEGIN
         UPDATE  #TEMP_BANK_QC SET DEBTL_ATOTAL = @DB_ATOTAL - @SYE WHERE YM = @YM_TIME;
         BREAK;
        END   
FETCH NEXT FROM DB_CUR INTO @DB_ATOTAL,@YM_TIME;
end;


CLOSE DB_CUR;
DEALLOCATE DB_CUR;

SELECT t1.USERB_KH,T2.USERB_HM,T2.userb_addr,ROUND(CAST(t1.DEBTL_ATOTAL AS FLOAT),2) DEBTL_ATOTAL,t1.YM FROM #TEMP_BANK_QC t1,FH_USERBASE t2 where t1.USERB_KH = t2.USERB_KH;
END
GO
