USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_VOMCOUNT_LJP]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VOMCOUNT_LJP]
@VO_NO VARCHAR(36)
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
IF @VO_NO IS NULL 
    BEGIN
     UPDATE FH_VOLUME SET VOLUME_MCOUNT = B.MCOUNT FROM FH_VOLUME A,(SELECT VOLUME_NO,COUNT(*) MCOUNT FROM FH_USERBASE WHERE IS_ENABLED = '1' GROUP BY VOLUME_NO) B WHERE A.VOLUME_NO = B.VOLUME_NO
    END
ELSE 
    BEGIN
     UPDATE FH_VOLUME SET VOLUME_MCOUNT = (SELECT COUNT(*) FROM FH_USERBASE WHERE  IS_ENABLED = '1' AND VOLUME_NO = @VO_NO) WHERE VOLUME_NO = @VO_NO
    END
END
GO
