USE [jjwater]
GO
/****** Object:  StoredProcedure [dbo].[SP_CBINIT]    Script Date: 10/18/2016 15:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**
  功能：按片区生成每月抄表计划
 
**/
CREATE PROCEDURE [dbo].[SP_CBINIT]
@REGION_NO VARCHAR(36),
@CB_YEAR INT,
@CB_MONTH INT
AS
DECLARE @STR_YEAR VARCHAR(20),@STR_MONTH VARCHAR(20),@VO_CO INT,@CBPID VARCHAR(36)
BEGIN
                                 /*Author JiuPing Lee */                           
SET @STR_YEAR = CAST(@CB_YEAR AS VARCHAR(20))
IF @CB_MONTH < 10 BEGIN
SET @STR_MONTH = '0'+CAST(@CB_MONTH AS VARCHAR(20))
END
ELSE 
BEGIN
SET @STR_MONTH = CAST(@CB_MONTH AS VARCHAR(20))
END 

SELECT  @VO_CO = count(*) FROM FH_VOLUME WHERE VOLUME_NO IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO IN (SELECT ORG_NO FROM FH_ORG WHERE ORG_SUPER_NO = @REGION_NO));

-- SELECT 'CBJH'+@STR_YEAR+@STR_MONTH
INSERT INTO FH_CBPLAN(CBPLAN_ID,CBP_NO,CBP_YEAR,CBP_MONTH,CBP_STATUS,CBP_TOTAL,CREATE_DATE,REGION_NO) VALUES (NEWID(),'CBJH'+@STR_YEAR+@STR_MONTH+@REGION_NO,@CB_YEAR,@CB_MONTH,'0',@VO_CO,GETDATE(),@REGION_NO)

SELECT  @CBPID = CBPLAN_ID FROM FH_CBPLAN WHERE CBP_YEAR = @CB_YEAR AND CBP_MONTH = @CB_MONTH AND REGION_NO=@REGION_NO;

UPDATE A SET A.VOLUME_MCOUNT = B.VOLUME_MCOUNT  FROM FH_VOLUME A, (SELECT VOLUME_NO,COUNT(*) VOLUME_MCOUNT FROM FH_USERBASE WHERE IS_ENABLED IS NULL GROUP BY VOLUME_NO )B WHERE A.VOLUME_NO = B.VOLUME_NO;


INSERT INTO FH_CBPLANLIST(CBPLANLIST_ID,CBP_ID,CBPL_YEAR,CBPL_MONTH,CBPL_DAY,CBPL_HOUR,VOLUME_NO,VOLUME_MCOUNT,VOLUME_CBWAY) SELECT NEWID(),@CBPID,@CB_YEAR,@CB_MONTH,VOLUME_CBDAY,CB_HOUR,VOLUME_NO,VOLUME_MCOUNT,VOLUME_CBWAY FROM FH_VOLUME WHERE VOLUME_NO IN (SELECT VOLUME_NO FROM FH_VOLUME WHERE AREA_NO IN (SELECT ORG_NO FROM FH_ORG WHERE ORG_SUPER_NO = @REGION_NO));

UPDATE A SET A.USER_ID = B.USER_ID  FROM FH_CBPLANLIST A, FH_CBYVOLUME B WHERE A.VOLUME_NO = B.VOLUME_NO AND A.CBPL_YEAR = @CB_YEAR AND A.CBPL_MONTH = @CB_MONTH;
 
   -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
END
GO
